<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <style>
        [v-cloak] {
            display: none !important;
        }

        * {
            margin: 0;
            padding: 0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        table {
            border-collapse: collapse;
        }

        ul, li {
            list-style: none;
        }

        body {
            font-size: 14px;
            color: #333;
        }

        a {
            text-decoration: none;
            -webkit-tap-highlight-color: transparent;
        }

        i, s, b, sub, sup,b {
            font-style: normal;
            text-decoration: none;
            font-weight: 400;
        }

        .text-center {
            text-align: center;
        }

        .container {
            width: 1000px;
            margin: 10px auto;
            border: 1px solid #eee;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 20px 30px;
        }

        .container > h1 {
            font-size: 26px;
            line-height: 40px;
            margin: 15px 0;
        }
        .container > p span {
            padding: 0 20px;
            border-bottom: 1px solid #afafaf;
        }
        .container > p > i {
            margin: 0 5px;
        }
        .container table {
            width: 100%;
            margin-top: 20px;
        }
        .container table td {
            border: 1px solid #afafaf;
            line-height: 24px;
            text-align: left;
            padding-left: 20px;
        }
        .container table td.title {
            text-align: center;
        }
        .container table td.fitment > label {
            margin: 0 5px;
        }
        .container table td > label {
            margin: 0 20px;
        }
        .container table td span {
            padding: 0 20px;
            border-bottom: 1px solid #afafaf;
        }
        .container table td i {
            margin-right: 100px;
        }
        .container table td.idea i {
            margin-right: 10px;
        }
        .container table td.idea p.ideai i {
            margin-right: 20px;
        }
        .container table td b {
            margin-right: 50px;
        }

        .text-left {text-align: left!important;}
        .text-right {text-align: right!important;}
        .ml20{margin-left:20px}
        .pl20{padding-left:20px}
        .w5 {width:5%;}
        .w10 {width:10%;}
        .w20 {width:20%;}
        .w30 {width:30%;}
        .w40 {width:40%;}
        .w50 {width:50%;}
    </style>
    <style media="print">
        @page {
            size: auto;  /* auto is the initial value */
            margin: 0mm; /* this affects the margin in the printer settings */
        }
    </style>
</head>
<body>
<div class="container" id="businessApprove" v-cloak>
    <h1 id="test" class="text-center">金鼎能贷业务审批表（房产）</h1>
    <p class="text-center">
        <i>公司名称: <span></span></i>
        <i>申报部门: <span></span> 部</i>
        <i>日期: <span></span></i>
        <i>编号: <span></span></i>
    </p>
    <table>
        <!--借款人基本信息-->
        <tr>
            <td rowspan="18" class="title" style="width: 5%;">资料完整性审查</td>
            <td class="w10">
                <i>借款人姓名: <span>{{baseInfo.name}}</span></i>
            </td>
        </tr>
        <tr>
            <td>
                1、借款人身份证:
                <label v-for="item in identityCard"><input type="checkbox" v-model="item.checked" :value="item.value">{{item.name}}</label>
            </td>
        </tr>
        <tr>
            <td>
                借款人配偶身份证:
                <label v-for="item in spouseIdentityCard"><input type="checkbox" v-model="item.checked" :value="item.value">{{item.name}}</label>
            </td>
        </tr>
        <tr>
            <td>
                2、借款人户口簿:
                <label v-for="item in houseAccount"><input type="checkbox" v-model="item.checked" :value="item.value">{{item.name}}</label>
            </td>
        </tr>
        <tr>
            <td>
                借款人配偶户口簿
                <label v-for="item in spouseHouseAccount"><input type="checkbox" v-model="item.checked" :value="item.value">{{item.name}}</label>
            </td>
        </tr>
        <tr>
            <td>
                3、婚姻证明:
                <label v-for="item in marrProve"><input type="checkbox" v-model="item.checked" :value="item.value">{{item.name}}</label>
            </td>
        </tr>
        <tr>
            <td>
                4、借款人个人征信报告:
                <label v-for="item in creditReport"><input type="checkbox" v-model="item.checked" :value="item.value">{{item.name}}</label>
            </td>
        </tr>
        <tr>
            <td>
                借款人配偶个人征信报告:
                <label v-for="item in spouseCreditReport"><input type="checkbox" v-model="item.checked" :value="item.value">{{item.name}}</label>
            </td>
        </tr>
        <tr>
            <td>
                5、房产证(或不动产证):
                <label v-for="item in houseCertificate"><input type="checkbox" v-model="item.checked" :value="item.value">{{item.name}}</label>
            </td>
        </tr>
        <tr>
            <td>
                6、国土证:
                <label v-for="item in nationCertificate"><input type="checkbox" v-model="item.checked" :value="item.value">{{item.name}}</label>
            </td>
        </tr>
        <tr>
            <td>
                7、房屋信息查询记录:
                <label v-for="item in houseQuery"><input type="checkbox" v-model="item.checked" :value="item.value">{{item.name}}</label>
            </td>
        </tr>
        <tr>
            <td>
                8、近6个月账户流水:
                <label v-for="item in bankDetail"><input type="checkbox" v-model="item.checked" :value="item.value">{{item.name}}</label>
            </td>
        </tr>
        <tr>
            <td>
                9、特殊房产配套资料:
                <label v-for="item in houseMessage"><input type="checkbox" v-model="item.checked" :value="item.value">{{item.name}}</label>
            </td>
        </tr>
        <tr>
            <td>
                10、抵押物现场入境照片:
                <label v-for="item in pawnPhoto"><input :checked="item.value == userBusinessApproval.pawnPhoto" type="radio" name="pawnPhoto" :value="item.value">{{item.name}}</label>
            </td>
        </tr>
        <tr>
            <td>
                11、用途合同或证明:
                <label v-for="item in contractProve"><input :checked="item.value == userBusinessApproval.contractProve" type="radio" name="contractProve" :value="item.value">{{item.name}}</label>
            </td>
        </tr>
        <tr>
            <td>
                12、其他: <span>{{userBusinessApproval.otherProve}}</span>
            </td>
        </tr>
        <tr>
            <td>
                意见:
                <label v-for="item in opinion"><input :checked="item.value == userBusinessApproval.opinion" type="radio" name="opinion" :value="item.value">{{item.name}}</label>
            </td>
        </tr>
        <tr>
            <td>
                <i>收件人: <span>{{userBusinessApproval.userReceive}}</span></i>
                <i>收件日期: <span>{{userBusinessApproval.receiveTime}}</span></i>
            </td>
        </tr>
        <!--风控审查-->
        <tr>
            <td rowspan="18" class="title" style="width: 5%;">风控审查</td>
            <td class="w10">一、申请人审查</td>
        </tr>
        <tr>
            <td>
                1、工作单位
                <label v-for="item in workCompany"><input :checked="item.value == userBusinessApproval.workCompany" type="radio" name="workCompany" :value="item.value">{{item.name}}</label>
            </td>
        </tr>
        <tr>
            <td>
                2、征信情况
                <label v-for="item in creditResult"><input :checked="item.value == userBusinessApproval.creditResult" type="radio" name="creditResult" :value="item.value">{{item.name}}</label>
            </td>
        </tr>
        <tr>
            <td>
                <i>3、大数据查询情况 <span>{{userBusinessApproval.bigdataQueryMessge}}</span></i>
                <i>涉诉查询情况: <span>{{userBusinessApproval.lawsuitQueryMessage }}</span></i>
            </td>
        </tr>
        <tr>
            <td>4、家庭资产负债率 <span>{{userBusinessApproval.famliyDebt}}</span>%</td>
        </tr>
        <tr>
            <td>二、抵押物审查</td>
        </tr>
        <tr>
            <td>
                1、所有权人、地址及权证号
                <label v-for="item in workCompany"><input :checked="item.value == userBusinessApproval.warrantNo" type="radio" name="warrantNo" :value="item.value">{{item.name}}</label>
            </td>
        </tr>
        <tr>
            <td>
                2、区域
                <label v-for="item in area"><input :checked="item.value == userBusinessApproval.area" type="radio" name="area" :value="item.value">{{item.name}}</label>
            </td>
        </tr>
        <tr>
            <td>
                3、本次抵押顺位
                <label v-for="item in pawnSw">
                    <input :checked="item.value == userBusinessApproval.pawnSw" type="radio" name="pawnSw" :value="item.value">
                    {{item.name}}
                    <s v-if="item.value == 1">(一抵机构名称 <span>{{userBusinessApproval.pawnOrg}}</span>)</s>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                4、唯一住房
                <label v-for="item in onlyHouse"><input :checked="item.value == userBusinessApproval.onlyHouse" type="radio" name="onlyHouse" :value="item.value">{{item.name}}</label>
            </td>
        </tr>
        <tr>
            <td>
                5、类型
                <label v-for="item in houseType"><input :checked="item.value == userBusinessApproval.houseType" type="radio" name="houseType" :value="item.value">{{item.name}}</label>
            </td>
        </tr>
        <tr>
            <td>
                6、现状
                <label v-for="item in houseStatus"><input :checked="item.value == userBusinessApproval.houseStatus" type="radio" name="houseStatus" :value="item.value">{{item.name}}</label>
            </td>
        </tr>
        <tr>
            <td>
                7、是否限售
                <label v-for="item in onlyHouse"><input :checked="item.value == userBusinessApproval.houseLimit" type="radio" name="houseLimit" :value="item.value">{{item.name}}</label>
            </td>
        </tr>
        <tr>
            <td>
                <b>8、价值认定 <span>{{userBusinessApproval.cognizancePrice}}</span>元</b>
                <b>可贷额度<span>{{userBusinessApproval.loanQuta}}</span>元</b>
                <b>抵押率 <span>{{userBusinessApproval.pawnRate}}</span>%</b>
            </td>
        </tr>
        <tr>
            <td>
                三、贷款用途审查
                <label v-for="item in loanUsage"><input :checked="item.value == userBusinessApproval.loanUsage" type="radio" name="loanUsage" :value="item.value">{{item.name}}</label>
            </td>
        </tr>
        <tr>
            <td>
                四、还款来源审查
                <label v-for="item in repaySource"><input :checked="item.value == userBusinessApproval.repaySource" type="radio" name="repaySource" :value="item.value">{{item.name}}</label>
            </td>
        </tr>
        <tr>
            <td>
                五、产品指引要求
                <label v-for="item in productRequire">
                    <input :checked="item.value == userBusinessApproval.productRequire" type="radio" name="productRequire" :value="item.value">
                    {{item.name}}
                    <i v-if="item.value == 0">,注明 <span>{{userBusinessApproval.requireMessage}}</span></i>
                </label>
            </td>
        </tr>
        <tr>
            <td>
               六、其他 <span></span>
            </td>
        </tr>
        <!--风控审查意见-->
        <tr v-for="item in processInfo" rowspan="2" v-if="item.processId == 6">
            <td class="title">风控审查意见</td>
            <td class="idea" colspan="8" style="padding: 5px 0;">
                <p class="pl20">风控部意见：<span>{{item.updateReason}}</span></p>
                <p class="pl20 text-left ideai">
                    <i>额度: <span>{{item.auditAmount}}</span>元,</i>
                    <i>期限: <span>{{item.auditPeriod}}</span>月,</i>
                    <i>月利率: <span>{{item.auditMonthRate | monthRating}}</span>%,</i>
                    <i>还款方式: <span>{{item.repayWay | repayWay}}</span></i>
                </p>
                <p class="pl20">
                    <i>担保方式: <span>{{item.guaranteeWay}}</span></i>
                </p>
                <p class="pl20">
                    <i>业务风险点: <span>{{item.businessRiskTip}}</span></i>
                </p>
                <p class="text-right">
                    <i>风控专员: <span>{{item.userName}}</span></i>
                    <i>风控部负责人: <span></span></i>
                    <i>日期: <span>{{item.updateDate}}</span></i>
                </p>
            </td>
        </tr>
        <!--有权审批人100万（含）以下-->
        <tr v-for="item in processInfo" rowspan="2" v-if="item.processId == 62 || item.processId == 7 && item.auditAmount <= 1000000">
            <td class="title">有权审批人100万（含）以下</td>
            <td colspan="8">
                风控总监或公司风控分管领导意见： <span>{{item.updateReason}}</span>
            </td>
        </tr>
        <!--有权审批人100-200万（含）-->
        <tr v-for="item in processInfo" rowspan="2" v-if="item.processId == 7 && item.auditAmount > 1000000">
            <td class="title">有权审批人100-200万（含）</td>
            <td colspan="8">
                公司法定代表人意见： <span>{{item.updateReason}}</span>
            </td>
        </tr>
    </table>
</div>
</body>
<script src="./static/js/util.js"></script>
<script src="./static/plugins/vue/vue.js"></script>
<script src="./static/js/jQuery-1.9.1.min.js"></script>
<script src="./static/js/myOrderCommon.js"></script>
<script>
    var investigate = {
        init: function () {
            this.newVue();
            this.getData();
        },
        vm: {},
        newVue: function () {
            var _this = this;
            this.vm = new Vue({
                el: '#businessApprove',
                data : {
                    userBusinessApproval : {},
                    baseInfo : {},
                    processInfo : [],
                    applyInfo:{},
                    pawnPhoto : [
                        {name:'有',value:'1'},
                        {name:'无',value:'0'}
                    ],
                    contractProve : [
                        {name:'有',value:'1'},
                        {name:'无',value:'0'}
                    ],
                    opinion : [
                        {name:'资料标准',value:'0'},
                        {name:'资料完整但部分为影像资料，放款前补齐复印件',value:'1'},
                        {name:'退件',value:'2'}
                    ],
                    workCompany : [
                        {name:'与业务部描述一致',value:'1'},
                        {name:'与业务部描述不一致',value:'0'}
                    ],
                    creditResult : [
                        {name:'A类',value:'0'},
                        {name:'B类',value:'1'},
                        {name:'C类',value:'2'},
                    ],
                    area : [
                        {name:'一类区域',value:'0'},
                        {name:'二类区域',value:'1'},
                        {name:'三类区域',value:'2'},
                    ],
                    pawnSw : [
                        {name:'一抵',value:'0'},
                        {name:'二抵',value:'1'}
                    ],
                    onlyHouse : [
                        {name:'是',value:'1'},
                        {name:'否',value:'0'}
                    ],
                    houseType : [
                        {name:'一类房产',value:'0'},
                        {name:'二类房产',value:'1'},
                        {name:'三类房产',value:'2'},
                    ],
                    houseStatus : [
                        {name:'自住',value:'0'},
                        {name:'出租',value:'1'},
                        {name:'空置',value:'2'},
                    ],
                    loanUsage : [
                        {name:'与业务部描述一致',value:'0'},
                        {name:'与业务部描述基本一致',value:'1'},
                        {name:'与业务部描述不一致',value:'2'},
                    ],
                    repaySource : [
                        {name:'充足',value:'0'},
                        {name:'一般',value:'1'},
                        {name:'不足',value:'2'},
                    ],
                    productRequire : [
                        {name:'符合',value:'1'},
                        {name:'不符合',value:'0'}
                    ],
                    identityCard :[
                        {name:'复印件',value:'0',checked:0},
                        {name:'影印件',value:'1',checked:0}
                    ],
                    spouseIdentityCard :[
                        {name:'复印件',value:'0',checked:0},
                        {name:'影印件',value:'1',checked:0}
                    ],
                    houseAccount :[
                        {name:'复印件',value:'0',checked:0},
                        {name:'影印件',value:'1',checked:0}
                    ],
                    spouseHouseAccount :[
                        {name:'复印件',value:'0',checked:0},
                        {name:'影印件',value:'1',checked:0}
                    ],
                    marrProve :[
                        {name:'复印件',value:'0',checked:0},
                        {name:'影印件',value:'1',checked:0}
                    ],
                    creditReport :[
                        {name:'复印件',value:'0',checked:0},
                        {name:'影印件',value:'1',checked:0}
                    ],
                    spouseCreditReport :[
                        {name:'复印件',value:'0',checked:0},
                        {name:'影印件',value:'1',checked:0}
                    ],
                    houseCertificate :[
                        {name:'复印件',value:'0',checked:0},
                        {name:'影印件',value:'1',checked:0}
                    ],
                    nationCertificate :[
                        {name:'复印件',value:'0',checked:0},
                        {name:'影印件',value:'1',checked:0}
                    ],
                    houseQuery :[
                        {name:'复印件',value:'0',checked:0},
                        {name:'影印件',value:'1',checked:0}
                    ],
                    bankDetail :[
                        {name:'复印件',value:'0',checked:0},
                        {name:'影印件',value:'1',checked:0}
                    ],
                    houseMessage :[
                        {name:'复印件',value:'0',checked:0},
                        {name:'影印件',value:'1',checked:0}
                    ],
                    repayWay : [],
                },
                computed: {

                },
                filters : {
                    formatTime : function (time) {
                        if (time) {
                            var date = new Date(time);
                            return date.getFullYear() + '-' + (preZero(date.getMonth() + 1)) + '-' + preZero(date.getDate()) + ' ' + preZero(date.getHours()) + ':' + preZero(date.getMinutes()) + ':' + preZero(date.getSeconds());
                        }
                        function preZero(num) {
                            num = '' + num;
                            return num.length == 1 ? '0' + num : num;
                        }
                    },
                    monthRating : function (value) {
                        return Number(value).div(12).toFixed(6);
                    },
                    // 还款方式
                    repayWay : function (value) {
                        try {
                            for (var i = 0; i < _this.vm.repayWay.length; i++) {
                                var repayWay = _this.vm.repayWay[i];
                                if(value == repayWay.value){
                                    return repayWay.text;
                                }
                            }
                        }catch (e) {
                        }
                    }

                },
                updated : function () {
                    window.print();
                }
            })
        },
        getData: function (cb) {
            var _this = this;
            $.ajax({
                url: util.getServerUrl('/loanOrder/getBusinessApproval'),
                // url: 'http://127.0.0.1:8080/nj-enterprise-web/loanOrder/getBusinessApproval',
                method: 'POST',
                data: {orderId: _this.getQueryString('orderId')},
                success: function (res) {
                    if (res.status == 0) {
                        if(res.data.userBusinessApproval != ''){
                            for(var k in res.data.userBusinessApproval){
                                for(var j in _this.vm.$data){
                                    if(k == j){
                                        for (var i = 0; i < res.data.userBusinessApproval[k].split('#').length; i++) {
                                            if(res.data.userBusinessApproval[k].split('#')[i] == '0'){
                                                _this.vm.$data[j][0]['checked'] = true;
                                            }
                                            if(res.data.userBusinessApproval[k].split('#')[i] == '1'){
                                                _this.vm.$data[j][1]['checked'] = true;
                                            }
                                        }
                                    }
                                }
                            }
                            _this.vm.userBusinessApproval = res.data.userBusinessApproval;
                        }
                        _this.vm.processInfo = res.data.processInfo;
                        _this.vm.baseInfo = res.data.baseInfo;
                        _this.vm.repayWay = res.data.repayWayInfo;
                        _this.vm.applyInfo = res.data.applyInfo;
                        cb&&cb();
                    } else {
                        alert('获取数据出错')
                    }
                },
                error: function (error) {
                    alert(error)
                }
            })
        },
        getQueryString: function (name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return r[2];
            return '';
        }
    }
    $(function () {
        investigate.init();
    })
</script>
</html>