@charset "UTF-8";

/*贷后管理*/
.border-line{ margin: 20px 0; border:1px solid #d2d6de; }
.input-width{ width: 180px !important; }
#defTool{margin: 20px 0;}
.input-group-addon{background: none; border:0; color: #8a8db0; min-width: 100px; overflow: hidden;}
label{font-weight: 200;}
.input-group .input-group-addon{padding-right: 20px;}
.form-control{color: #b2b2b2;}
.form-control:focus{border-color:#ccc !important;}
.btn-primary{background: #ff5e16; border-color: #ff5e16; border-radius: 3px !important;-webkit-border-radius:3px !important; width: 75px;}
.btn-primary:hover,.btn-primary:active,.btn-primary:focus{background: #fa5105;border-color: #fa5105;}
.btn-flat{ margin-left: 22px !important; }
