@charset "UTF-8";

/* 订单详情页面 */
.action-box-bg{ width: 100%; overflow: hidden; background: #fafbfd; margin:15px 0; }
.action-box{ padding:30px 20px; color: #8a8db0; overflow: hidden;}
.action-txt{ float: left;font-size: 14px; }
.action-btns{ float: right; }
.btn-padding{padding: 4px 16px; margin-right: 10px;}
.loan-tab table thead tr th{text-align: center;background: #fafbfd;}
.loan-tab{ overflow: hidden; border:1px solid #f4f5f9; border-bottom: 0; margin:20px 0;}
.revise-btn{ float: right; }
.click-img{display: block;width: 200px; height: 130px; overflow: hidden; background: #f5f5f5; margin-left: 10px;}
.click-img>img{width: 200px; margin-left: -10px;}
.click-img-hover{
	-webkit-transform:scale(2,2);
    -moz-transform:scale(2,2);
    -transform:scale(2,2);
    transition:all 0.3s;
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -transition:all 0.3s;
    position: absolute;
    z-index: 9999;
}
.menu-box{ overflow: hidden; border:1px solid #f4f5f9; border-top:0; padding: 15px;}
#uploadData{ padding:0 0 0 26px;}
#uploadData>.row{margin-bottom: 8px;}
#uploadData>.row>a{display: block;min-width: 300px; overflow: hidden; float: left; padding-right: 10px; text-indent: 0}
.delbtn{ height: 26px; line-height: 10px; width: 60px; background: none; border:1px solid #a9a9a9; border-radius: 3px; }
.delbtn:hover,.btn:hover{ background: #f5f5f5; }
#progressOuter{margin-top: 7px;}
.btn-submit{position: absolute;}