<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nj.dao.NjAppUserBusicommUpdateMapper">
  <resultMap id="BaseResultMap" type="com.nj.model.generate.NjAppUserBusicommUpdate">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="app_user_id" jdbcType="VARCHAR" property="appUserId" />
    <result column="old_busicomm_id" jdbcType="VARCHAR" property="oldBusicommId" />
    <result column="new_busicomm_id" jdbcType="VARCHAR" property="newBusicommId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, app_user_id, old_busicomm_id, new_busicomm_id, create_time
  </sql>
  <select id="selectByExample" parameterType="com.nj.model.generate.NjAppUserBusicommUpdateExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from nj_app_user_busicomm_update
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from nj_app_user_busicomm_update
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from nj_app_user_busicomm_update
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.nj.model.generate.NjAppUserBusicommUpdateExample">
    delete from nj_app_user_busicomm_update
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.nj.model.generate.NjAppUserBusicommUpdate">
    insert into nj_app_user_busicomm_update (id, app_user_id, old_busicomm_id, 
      new_busicomm_id, create_time)
    values (#{id,jdbcType=VARCHAR}, #{appUserId,jdbcType=VARCHAR}, #{oldBusicommId,jdbcType=VARCHAR}, 
      #{newBusicommId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.nj.model.generate.NjAppUserBusicommUpdate">
    insert into nj_app_user_busicomm_update
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="appUserId != null">
        app_user_id,
      </if>
      <if test="oldBusicommId != null">
        old_busicomm_id,
      </if>
      <if test="newBusicommId != null">
        new_busicomm_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="appUserId != null">
        #{appUserId,jdbcType=VARCHAR},
      </if>
      <if test="oldBusicommId != null">
        #{oldBusicommId,jdbcType=VARCHAR},
      </if>
      <if test="newBusicommId != null">
        #{newBusicommId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.nj.model.generate.NjAppUserBusicommUpdateExample" resultType="java.lang.Integer">
    select count(*) from nj_app_user_busicomm_update
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update nj_app_user_busicomm_update
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.appUserId != null">
        app_user_id = #{record.appUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.oldBusicommId != null">
        old_busicomm_id = #{record.oldBusicommId,jdbcType=VARCHAR},
      </if>
      <if test="record.newBusicommId != null">
        new_busicomm_id = #{record.newBusicommId,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update nj_app_user_busicomm_update
    set id = #{record.id,jdbcType=VARCHAR},
      app_user_id = #{record.appUserId,jdbcType=VARCHAR},
      old_busicomm_id = #{record.oldBusicommId,jdbcType=VARCHAR},
      new_busicomm_id = #{record.newBusicommId,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.nj.model.generate.NjAppUserBusicommUpdate">
    update nj_app_user_busicomm_update
    <set>
      <if test="appUserId != null">
        app_user_id = #{appUserId,jdbcType=VARCHAR},
      </if>
      <if test="oldBusicommId != null">
        old_busicomm_id = #{oldBusicommId,jdbcType=VARCHAR},
      </if>
      <if test="newBusicommId != null">
        new_busicomm_id = #{newBusicommId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nj.model.generate.NjAppUserBusicommUpdate">
    update nj_app_user_busicomm_update
    set app_user_id = #{appUserId,jdbcType=VARCHAR},
      old_busicomm_id = #{oldBusicommId,jdbcType=VARCHAR},
      new_busicomm_id = #{newBusicommId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>