<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nj.dao.NjStrategyMapper">
  <resultMap id="BaseResultMap" type="com.nj.model.generate.NjStrategy">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="source_no" jdbcType="VARCHAR" property="sourceNo" />
    <result column="trans_way" jdbcType="VARCHAR" property="transWay" />
    <result column="trans_no" jdbcType="VARCHAR" property="transNo" />
    <result column="trans_money" jdbcType="VARCHAR" property="transMoney" />
    <result column="amount" jdbcType="VARCHAR" property="amount" />
    <result column="del_flag" jdbcType="SMALLINT" property="delFlag" />
    <result column="source_no_stus" jdbcType="SMALLINT" property="sourceNoStus" />
    <result column="trans_way_stus" jdbcType="SMALLINT" property="transWayStus" />
    <result column="trans_no_stus" jdbcType="SMALLINT" property="transNoStus" />
    <result column="trans_money_stus" jdbcType="SMALLINT" property="transMoneyStus" />
    <result column="amount_stus" jdbcType="SMALLINT" property="amountStus" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, source, source_no, trans_way, trans_no, trans_money, amount, del_flag, 
    source_no_stus, trans_way_stus, trans_no_stus, trans_money_stus, amount_stus
  </sql>
  <select id="selectByExample" parameterType="com.nj.model.generate.NjStrategyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from nj_strategy
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from nj_strategy
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from nj_strategy
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.nj.model.generate.NjStrategyExample">
    delete from nj_strategy
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.nj.model.generate.NjStrategy">
    insert into nj_strategy (id, name, source, 
      source_no, trans_way, trans_no, 
      trans_money, amount, del_flag, 
      source_no_stus, trans_way_stus, trans_no_stus, 
      trans_money_stus, amount_stus)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, 
      #{sourceNo,jdbcType=VARCHAR}, #{transWay,jdbcType=VARCHAR}, #{transNo,jdbcType=VARCHAR}, 
      #{transMoney,jdbcType=VARCHAR}, #{amount,jdbcType=VARCHAR}, #{delFlag,jdbcType=SMALLINT}, 
      #{sourceNoStus,jdbcType=SMALLINT}, #{transWayStus,jdbcType=SMALLINT}, #{transNoStus,jdbcType=SMALLINT}, 
      #{transMoneyStus,jdbcType=SMALLINT}, #{amountStus,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="com.nj.model.generate.NjStrategy">
    insert into nj_strategy
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="source != null">
        source,
      </if>
      <if test="sourceNo != null">
        source_no,
      </if>
      <if test="transWay != null">
        trans_way,
      </if>
      <if test="transNo != null">
        trans_no,
      </if>
      <if test="transMoney != null">
        trans_money,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="sourceNoStus != null">
        source_no_stus,
      </if>
      <if test="transWayStus != null">
        trans_way_stus,
      </if>
      <if test="transNoStus != null">
        trans_no_stus,
      </if>
      <if test="transMoneyStus != null">
        trans_money_stus,
      </if>
      <if test="amountStus != null">
        amount_stus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="sourceNo != null">
        #{sourceNo,jdbcType=VARCHAR},
      </if>
      <if test="transWay != null">
        #{transWay,jdbcType=VARCHAR},
      </if>
      <if test="transNo != null">
        #{transNo,jdbcType=VARCHAR},
      </if>
      <if test="transMoney != null">
        #{transMoney,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=SMALLINT},
      </if>
      <if test="sourceNoStus != null">
        #{sourceNoStus,jdbcType=SMALLINT},
      </if>
      <if test="transWayStus != null">
        #{transWayStus,jdbcType=SMALLINT},
      </if>
      <if test="transNoStus != null">
        #{transNoStus,jdbcType=SMALLINT},
      </if>
      <if test="transMoneyStus != null">
        #{transMoneyStus,jdbcType=SMALLINT},
      </if>
      <if test="amountStus != null">
        #{amountStus,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.nj.model.generate.NjStrategyExample" resultType="java.lang.Long">
    select count(*) from nj_strategy
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update nj_strategy
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.source != null">
        source = #{record.source,jdbcType=VARCHAR},
      </if>
      <if test="record.sourceNo != null">
        source_no = #{record.sourceNo,jdbcType=VARCHAR},
      </if>
      <if test="record.transWay != null">
        trans_way = #{record.transWay,jdbcType=VARCHAR},
      </if>
      <if test="record.transNo != null">
        trans_no = #{record.transNo,jdbcType=VARCHAR},
      </if>
      <if test="record.transMoney != null">
        trans_money = #{record.transMoney,jdbcType=VARCHAR},
      </if>
      <if test="record.amount != null">
        amount = #{record.amount,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlag != null">
        del_flag = #{record.delFlag,jdbcType=SMALLINT},
      </if>
      <if test="record.sourceNoStus != null">
        source_no_stus = #{record.sourceNoStus,jdbcType=SMALLINT},
      </if>
      <if test="record.transWayStus != null">
        trans_way_stus = #{record.transWayStus,jdbcType=SMALLINT},
      </if>
      <if test="record.transNoStus != null">
        trans_no_stus = #{record.transNoStus,jdbcType=SMALLINT},
      </if>
      <if test="record.transMoneyStus != null">
        trans_money_stus = #{record.transMoneyStus,jdbcType=SMALLINT},
      </if>
      <if test="record.amountStus != null">
        amount_stus = #{record.amountStus,jdbcType=SMALLINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update nj_strategy
    set id = #{record.id,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      source = #{record.source,jdbcType=VARCHAR},
      source_no = #{record.sourceNo,jdbcType=VARCHAR},
      trans_way = #{record.transWay,jdbcType=VARCHAR},
      trans_no = #{record.transNo,jdbcType=VARCHAR},
      trans_money = #{record.transMoney,jdbcType=VARCHAR},
      amount = #{record.amount,jdbcType=VARCHAR},
      del_flag = #{record.delFlag,jdbcType=SMALLINT},
      source_no_stus = #{record.sourceNoStus,jdbcType=SMALLINT},
      trans_way_stus = #{record.transWayStus,jdbcType=SMALLINT},
      trans_no_stus = #{record.transNoStus,jdbcType=SMALLINT},
      trans_money_stus = #{record.transMoneyStus,jdbcType=SMALLINT},
      amount_stus = #{record.amountStus,jdbcType=SMALLINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.nj.model.generate.NjStrategy">
    update nj_strategy
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="sourceNo != null">
        source_no = #{sourceNo,jdbcType=VARCHAR},
      </if>
      <if test="transWay != null">
        trans_way = #{transWay,jdbcType=VARCHAR},
      </if>
      <if test="transNo != null">
        trans_no = #{transNo,jdbcType=VARCHAR},
      </if>
      <if test="transMoney != null">
        trans_money = #{transMoney,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=SMALLINT},
      </if>
      <if test="sourceNoStus != null">
        source_no_stus = #{sourceNoStus,jdbcType=SMALLINT},
      </if>
      <if test="transWayStus != null">
        trans_way_stus = #{transWayStus,jdbcType=SMALLINT},
      </if>
      <if test="transNoStus != null">
        trans_no_stus = #{transNoStus,jdbcType=SMALLINT},
      </if>
      <if test="transMoneyStus != null">
        trans_money_stus = #{transMoneyStus,jdbcType=SMALLINT},
      </if>
      <if test="amountStus != null">
        amount_stus = #{amountStus,jdbcType=SMALLINT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nj.model.generate.NjStrategy">
    update nj_strategy
    set name = #{name,jdbcType=VARCHAR},
      source = #{source,jdbcType=VARCHAR},
      source_no = #{sourceNo,jdbcType=VARCHAR},
      trans_way = #{transWay,jdbcType=VARCHAR},
      trans_no = #{transNo,jdbcType=VARCHAR},
      trans_money = #{transMoney,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=SMALLINT},
      source_no_stus = #{sourceNoStus,jdbcType=SMALLINT},
      trans_way_stus = #{transWayStus,jdbcType=SMALLINT},
      trans_no_stus = #{transNoStus,jdbcType=SMALLINT},
      trans_money_stus = #{transMoneyStus,jdbcType=SMALLINT},
      amount_stus = #{amountStus,jdbcType=SMALLINT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>