<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<settings> 
        <setting name="cacheEnabled" value="true" /><!-- 全局映射器启用缓存 -->   
        <setting name="useGeneratedKeys" value="true" /> 
        <setting name="defaultExecutorType" value="REUSE" /> 
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--<setting name="logImpl" value="STDOUT_LOGGING" />-->
    </settings>

	<typeAliases>
		<!-- <typeAlias type="com.nj.model.system.User" alias="User"/>
		<typeAlias type="com.nj.model.system.Role" alias="Role"/>
		<typeAlias type="com.nj.model.system.Menu" alias="Menu"/>
		<typeAlias type="com.nj.model.system.Button" alias="Button"/>
		<typeAlias type="com.nj.model.system.Mail" alias="Mail"/> -->
		
		<typeAlias type="com.nj.core.base.util.PageData" alias="PageData"/>
		<!-- 分页 -->
		<typeAlias type="com.nj.core.base.entity.Page" alias="Page"/>
	</typeAliases>
	
<!-- 	<plugins>
		<plugin interceptor="com.nj.core.base.plugin.PagePlugin">
			<property name="dialect" value="mysql"/>
			<property name="pageSqlId" value=".*listPage.*"/>
		</plugin>
		
		<plugin interceptor="com.nj.core.base.plugin.MybatisSqlPlugin">
			<property name="showSql" value="true"/>
		</plugin>
	</plugins> -->
	
</configuration>