input-point@charset "UTF-8";

/* 创建公司页面 */

.form-box{ margin-top:35px}
legend{font-size: 14px; color: #a4a6b3;}
.input-company-name,.input-address{width: 324px;*width: 321px; height: 32px; line-height: 32px; color: #666; box-sizing: border-box;-moz-box-sizing:border-box; -webkit-box-sizing:border-box;} 
select{ color: #a4a6b3; width: 103px; height: 32px; line-height: 32px; margin-right: 3px;}
input,textarea,select{outline: none;border: 1px solid #a9a9a9; box-sizing:border-box;-moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
input:focus,select:focus{border:1px solid #ff5e16;}
.input-company-yzm:focus{border: 0;}
#city{overflow: hidden;}
.last{ margin-right: 0 }
.txt-info{border-left:2px solid #9190af;text-indent: 8px;}
.clear{ clear: both}
.fieldset-box fieldset{float:left;}
.input-box{width:200px; height:30px;margin-right: 8px}
.input-bank-card{width:200px;height:30px;margin-right:8px}
.input-yzm{width:100px;height:30px;float:right; background: none; border:0; color: #4D98F6;font-family: '微软雅黑'; outline: none;}
.input-yzm:hover{ color: #3e88e5 }
.input-yzm:focus{border: 0;}
footer{ padding: 20px 0; font-family: '微软雅黑'; }
footer p{ width:100%; margin-bottom:10px; text-align:center; color: #71778f; font-size: 14px}

.creat-page{width: 100%; overflow: hidden; padding-left: 0;}
.center-box{ width: 330px; margin: 0 auto; overflow: hidden;font-family: '微软雅黑'; }
.center-txt{ width: 100%;text-align: center; padding-top: 55px; color: #8a8db0 }
.center-txt>h2{ margin: 5px 0;}
.center-txt>p{ font-size: 14px; }
.create-btns{ width: 262px; margin: 0 auto; overflow: hidden; }
.mast-select{color: #ff5e16 !important;font-style: normal;padding-left: 2px;}
.yzm-box{ width: 322px; height: 32px; line-height: 32px; *margin-left: 5px; border:1px solid #a9a9a9; background: #fff;}
.input-company-yzm{ float: left; width: 214px; height: 28px; line-height: 28px; border:0; outline:none; background: none }
.error{ border:1px solid #ff5e16; background: #fff7f4 }
.yzm-desc{ font-size: 12px; padding-top: 4px; }
.input-point{ background: #ffdfd2; color: #ff5e16; text-align: center; font-size: 12px; width: 100%; margin: 5px 0; padding: 2px 0;}
.last-btn{ width: 322px; }
.sub-btns-width{ margin-left: 0; }
.ret-btns-width{ margin-right: 0; float: right; width: 184px; }
.input-point{display: none;}
.ret-btns-width{ display: block; text-align: center; line-height: 34px; text-decoration: none; color: #666; font-size: 14px; }
/*成功、失败弹窗*/
.faid-box{ display: none; position: absolute; z-index: 10000; min-width: 200px; height: 60px; overflow: hidden; top: 50%; left: 50%;  margin-left: -100px; margin-top: -30px; background: rgba(0,0,0,0.5); border-radius: 5px; -webkit-border-radius:5px;}
.fdid-txt{color: #fff; font-size: 16px; padding: 0 20px; text-align: center; line-height: 60px; font-family: "微软雅黑"}
/*清楚浏览器input记忆输入黄色背景*/
input:-webkit-autofill { box-shadow: 0 0 0px 1000px white inset !important; border:1px solid #ff5e16; text-indent: 5px}