@charset "UTF-8";

/* 创建公司、加入公司共用样式 */
/*header style*/
body{padding:0;margin:0;background: #f5f6f8}
header{background:#404352;height:63px;line-height:63px;font-size:20px;color:#fff}
.pull-left{float:left; overflow: hidden;}
.pull-left img{ width: 250px; height: 25px;padding: 20px 0 0 30px;}
.header-right{float: right; margin-right: 30px; overflow: hidden;}
.header-right-txt { float: left; width: auto; height: 100%; line-height: 63px;}
.header-right-txt i{font-size: 14px; font-style: normal;font-family: "微软雅黑"}
.pull-right{ float: left;font-size:12px;width:62px; height:24px; line-height:24px; margin-left: 20px; }
.pull-right a{ display:block; text-align:center; margin-top:20px; text-decoration: none;width:62px; height:24px;color: #fff;background-color: #FF5E16;border-radius: 20px;-webkit-border-radius:20px;color: #fff}
.pull-right a:hover{color: #333; background-color: #fff;}
.txt-color{color: #808396;font-size: 14px; text-decoration: none;font-family: "微软雅黑"}
.txt-hover:hover{color: #ff5e16 !important; text-decoration: underline !important;}
/*content style*/
.creat-page{padding-left: 75px;color: #a4a6b3; min-height: 730px; overflow: hidden;}
.creat-page>h2{color: #8a8eab;  font-family: "微软雅黑"; margin-bottom: 2px}
.creat-page>p{font-size: 12px;}
.submit{float:left; width: 120px; height: 34px; border-radius: 5px;-webkit-border-radius:5px; background: #ff5e16; margin: 18px 15px 0 0;}
.submit:hover{ background: #fa5105; }
.submit button{ background: none; color: #fff; border: 0;width: 100%; height: 100%;font-family: "微软雅黑"; font-size: 14px;}
.return{float: left; width: 120px;height: 34px;margin-top: 18px;background: #fff;border:1px solid #d3d4d9;border-radius: 5px; -webkit-border-radius: 5px;}
.return:hover{background: #f5f5f5;}
.return button{ color: #8c8e9a; border:0;width: 100%; height: 100%;background: none;font-family: "微软雅黑"; font-size: 14px; }
input{text-indent: 5px}
fieldset{border:0;padding:12px 0;}
.remarks{ min-width: 310px; height: 150px; overflow: hidden; resize: none; padding: 5px;border: 1px solid #a9a9a9; box-sizing:border-box;-moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
/*footer style*/
footer{ padding: 20px 0;font-family: '微软雅黑'; }
footer p{ width:100%; margin-bottom:10px; text-align:center; color: #71778f; font-size: 14px}

