@charset "UTF-8";

/**完善个人信息**/
html {
	width:100%;
	height:100%;
}
body {
  background: -ms-linear-gradient(to top, #0576d5, #d9e9f9);
  background: -moz-linear-gradient(to top, #0576d5, #d9e9f9);
  background: -webkit-linear-gradient(to top, #0576d5, #d9e9f9);
  background: linear-gradient(to top, #0576d5, #d9e9f9);
  height:100%;
}

header {
  height: 70px;
  line-height: 70px;
  background-color: #fff;
}

.pull-left {
  padding-left: 130px;
  vertical-align: middle;
}
.pull-left img {
  margin-top: -8px;
}
.pull-left span {
  color: #008bff;
  font-weight: 700;
  font-size: 20px;
  margin-left: 10px;
}
.info-page {
  width: 450px;
  /* min-height: 720px; */
  /*margin: 80px auto 0;*/
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-100%);
}
/*@media screen and (max-width: 1366px) {*/
	/*.info-page {*/
		/*margin: 40px auto 0;*/
	/*}*/
/*}*/
.info-page .title {
  position: absolute;
  left: 0;
  top: 0;
  width: 365px;
  text-align: center;
  padding-top: 140px;
}
.info-page .title h2,
.info-page .title p,
.info-page .title span {
  font-size: 24px;
  color: #fff;
}
.info-page .title p {
  margin-top: 30px;
  font-size: 16px;
  margin-bottom: 0;
}
.info-page .title span {
  font-size: 14px;
  width: 100%;
  display: block;
}
.info-box {
   width: 450px;
  height: auto;
  font-family: "微软雅黑";
  color: #858aa7;
  box-shadow: 0px 0px 28px -2px rgba(0,139,255,.15);
  -webkit-box-shadow: 0px 0px 28px -2px rgba(0,139,255,.15);
  -moz-box-shadow: 0px 0px 28px -2px rgba(0,139,255,.15);
  padding-top: 135px;
  background: url("../../img/logo_title.png") no-repeat center 30px;
  background-color : #fff;
  border-top-left-radius: 0px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 0px;

  /*position : absolute;*/
  /*left : 50%;*/
  /*top : 175px;*/
  /*-webkit-transform: translateX(-50%);*/
  /*-moz-transform: translateX(-50%);*/
  /*-ms-transform: translateX(-50%);*/
  /*-o-transform: translateX(-50%);*/
  /*transform: translateX(-50%);*/
}
.info-box > form {
  padding: 0 55px 45px;
}
.info-box > form input {
	background-color : #fff !important;
	border : 1px solid #e4e4e4;
	-webkit-box-shadow: 0 0 0px 1000px white inset;
	height:54px;
	width:100%;
	font-size : 16px;
  outline: none;
}
.info-box > form .error-msg {
	color : red;
	font-size : 14px;
	line-height : 35px;
	padding-left : 12px;
	visibility:hidden;
}
#code {
	width : 180px;
	margin-right : 20px;
}
.info-box > form .saveCode {
  color: #424242;
  font-size: 16px;
  position:relative;
  padding-left : 30px;
}
.info-box > form .saveCode i {
  font-style: normal;
  display: inline-block;
  position:absolute;
  left:0;
  top : 4px;
  width: 16px;
  height: 16px;
  background: url("../../img/saveCode_no_checked.png") no-repeat center;
}
.info-box > form .saveCode i.checked {
  background: url("../../img/saveCode_checked.png") no-repeat center;
}

.flagBox{
  position: relative;
}
.flagBox s {
  width: 14px;
  height: 20px;
  position: absolute;
  top: 12px;
  left: 10px;
}
.input-name {
  width: 320px;
  height: 35px;
  text-indent: 5px;
}

.input-name.pl40 {
  padding-left: 40px;
}
.flagBox s.flag-phone {
  background: url("../../img/phone.png") no-repeat center;
}
.flagBox s.flag-passwd {
  background: url("../../img/passwd.png") no-repeat center;
}
.remarks {
  width: 310px;
  height: 58px;
  resize: none;
  padding: 5px;
  
}

.submit {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #008bff;
  margin-top: 25px;
}


.submit button {
  background: none;
  color: #fff;
  border: 0;
  width: 100%;
  height: 100%;
  font-size : 16px;
}

footer.login-footer {
  /*overflow: hidden;*/
  font-family: '微软雅黑';
  /*padding: 40px 0 0;*/
  position: absolute;
  left: 50%;
  bottom: 20px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

footer p {
  width: 100%;
  text-align: center;
  color: #999999;
  font-size: 14px;
  font-family: '微软雅黑';
}
/*金鼎能贷*/
body.nd-body {
  background: url("../../img/nd_bg.png") no-repeat center / cover;
}
header.nd-header {
  background-color: #f3f3f3;
}
.info-page.nd-info-page {
  box-shadow: 0px 0px 28px -2px rgba(0,139,255,.15);
  -webkit-box-shadow: 0px 0px 28px -2px rgba(0,139,255,.15);
  -moz-box-shadow: 0px 0px 28px -2px rgba(0,139,255,.15);
  margin-top: 145px;
  padding-left: 365px;
  background: url("../../img/l_bg.png") no-repeat left center / contain;
}
.info-box.nd-info-box {
  background: #fff;
  padding-top: 135px;
  position: relative;
}
.info-box.nd-info-box h1 {
  font-size: 16px;
  font-weight: 700;
  color: #008bff;
  position: absolute;
  top: 50px;
  left: 12%;
  width: 100%;
}
.info-box.nd-info-box h1 span {
  font-size: 12px;
  cursor: pointer;
  position: absolute;
  right: 110px;
  top: 3px;
}
.info-box.nd-info-box > form input {
  height: 45px;
}
.info-box.nd-info-box i.desc-name {
  text-decoration: none;
  font-style: normal;
  font-size: 18px;
  color: #333;
  line-height: 40px;
}
.info-box.nd-info-box i.desc-name.msg-code {
  display: block;
}
.info-box.nd-info-box > form {
  padding-bottom: 20px;
}
.info-box.nd-info-box > form > p {
  font-size: 14px;
  color: #64aae7;
  margin-top: 20px;
}
@media (max-height: 768px) {
  .info-page {
    top: -70px!important;
  }
}
body.nd-body .modal-header {
  background-color: #eeeeee;
}
body.nd-body .modal-header .close {
  margin-top: -9px;
}
body.nd-body .modal-body {
  border-radius: 0;
}
body.nd-body .modal-body h2 {
  font-size: 24px;
}
body.nd-body .modal-body img {
  width: 190px;
  margin: 30px 0 25px;
}
body.nd-body .modal-body p {
  font-size: 18px;
}
