ul,li {
  margin: 0;
  padding: 0;
  list-style: none;
}
i {font-style: normal}
.container-fluid {
  padding-left: 40px;
  padding-right: 0;
  background-color: #f3f3f3;
}
.clearfix::after {
  content: '';
  display: block;
  visibility: hidden;
  height: 0;
  line-height: 0;
  clear: both;
}
.nav-bar {
  line-height: 60px;
  font-size: 14px;
  color: #333;
  padding-left: 20px;
  background-color: #fff;
  border-bottom: 1px solid #f3f3f3;
  position: relative;
}
.tab-con .tab-pane {
  padding: 20px;
  display: block;
}
/*通用bootstrap修改*/
.tab-content .panel-info>.panel-heading,
.check-cheat .panel > .panel-heading {
  background-color: #fbfcff;
  border-color: #e9f1ff;
}
.tab-content .panel-info {
  border-color: #e9f1ff;
}
.tab-content .panel-info > .panel-heading,
.check-cheat .panel > .panel-heading {
  color: #008bff;
}
.tab-content .panel-info .panel-title,
.check-cheat .panel .panel-title {
  font-size: 16px;
}


.block {
  display: block !important;
}
.mlr15 {
  margin: 0 15px !important;
}
.w400 {
  width: 400px !important;
}

/*按钮*/
.payBtn,
#exportList {
  background-color: #008bff;
  border-color: #008bff;
  color: #fff;
}
.payBtn {
  padding: 4px 15px;
}
.payBtn:hover,
.payBtn:active,
.payBtn:focus {
  color: #fff;
}
.btn-confirm {
  background-color: #008bff;
  border-color: #008bff;
}

/*模态框*/
#myModal .modal-header,
#mySuccessModal .modal-header,
#confirmPay .modal-header,
#offlineRepay .modal-header {
  border: none;
}
#myModal .modal-body,
#mySuccessModal .modal-body,
#confirmPay .modal-body,
#offlineRepay .modal-body {
  font-size: 16px;
  font-weight: 700;
  color: #5a5a5a;
}
#myModal .modal-footer,
#mySuccessModal .modal-footer,
#confirmPay .modal-footer,
#offlineRepay .modal-footer {
  border: none;
}
#myModal p,
#mySuccessModal p,
#confirmPay p,
#offlineRepay p {
  font-size: 16px;
  font-weight: 700;
  color: #333;
}
#myModal .btn-confirm,
#mySuccessModal .btn-confirm,
#confirmPay .btn-confirm,
#offlineRepay .btn-confirm {
  color: #fff;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 930px;
  }
}
#confirmPay .modal-body h1,
#offlineRepay .modal-body h1 {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 30px;
}
#confirmPay .modal-body table,
#offlineRepay .modal-body table {
  margin-bottom: 40px;
  font-size: 14px;
}
#confirmPay .modal-body table thead,
#offlineRepay .modal-body table thead {
  background-color: #FAFDFF;
}
#confirmPay .modal-body table tr.bold td,
#offlineRepay .modal-body table tr.bold td {
  font-weight: 700;
}
#confirmPay .modal-body table td,
#offlineRepay .modal-body table td {
  text-align: center;
  font-weight: 400;
  border: 1px solid #e9f1ff;
}
#confirmPay .modal-body table td input,
#offlineRepay .modal-body table td input {
  width: 100%;
  border: none;
  text-align: center;
}
#confirmPay .modal-body h3,
#offlineRepay .modal-body h3 {
  font-size: 14px;
  text-align: left;
  margin-bottom: 20px;
  color: #f40;
  font-weight: 700;
}
#offlineRepay .modal-body table.acc-table td {
  text-align: left;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 40px;
}
#offlineRepay .modal-body table.acc-table td span {
  margin-right: 15px;
  font-weight: 700;
}
#offlineRepay .modal-body table.acc-table td input {
  display: inline-block;
  max-width: 200px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;

}

/*还款计划*/
.panel-heading {
  padding: 15px 15px !important;
}
.pay-plan {
  position: relative;
}
.pay-plan .btn {
  position: absolute;
  right: 90px;
  top: 12px ;
  padding: 4px 15px;
  background-color: #008bff;
  color: #fff;
}
table.pay-plan-table.after-loan-table {
  margin-top: 15px;
}
.panel-body > span {
  line-height: 20px;
  color: #ff4a4a;
}


/*审批表格*/
.after-loan-table {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #e9f1ff;
  /*table-layout:fixed;*/
}

.after-loan-table thead {
  background-color: #FAFDFF;
}
.after-loan-table tbody tr td,
.after-loan-table thead tr th {
  text-align: center;
  border: 1px solid #e9f1ff;
  line-height: 40px;
  padding: 0 10px;
}
.after-loan-table td.bold {
  font-weight: 700;
  color: #333;
}
.after-loan-table td.bg {
  background-color: #FAFDFF;
}
.after-loan-table td.order-num {
  color: #008bff;
}
.after-loan-table .form-control {
  margin-top: 3px;
  border: none;
}

.tab-content .tab-pane .slide-panel-body {
  display: none;
}

/*disabled*/
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: #f5f5f5;
}