@charset "UTF-8";

 /**重定义样式**/

/* .btn{ border-radius: 2px;-webkit-border-radius:2px; -o-border-radius:2px;} */
.btn-padding{ padding: 4px 8px; }
.btn-padd-spel{padding: 4px 16px;border: 1px solid #d4d7dc; background: #fff; color: #8c8ea7;}
.btn-padd-spel:hover{ background: #f5f5f5;}
a{color: #4D98F6; cursor: pointer;}
a:hover{cursor: pointer;}
input,textarea,select,button {outline: none; border: 1px solid #a9a9a9; box-sizing:border-box;-moz-box-sizing:border-box; -webkit-box-sizing:border-box; }
input:focus,textarea:focus,.form-control:focus{border:1px solid #008bff !important; }
.btn:focus,btn:focus:active {
  outline:none !important;
}
.form-group.has-error label{color: #8a8db0}
.form-group.has-error .form-control{border-color: #ff5e16 !important;}
.order-textarea{ width: 280px; height: 34px; line-height: 28px; text-indent: 4px; resize: none; overflow: auto; color: #888}
input:-webkit-autofill { box-shadow: 0 0 0px 1000px white inset !important; border:1px solid #ff5e16; text-indent: 5px}

select {/* -webkit-appearance: none; */-moz-appearance: none;appearance:none;}
.ie select::-ms-expand { display: none; }



.modal {background: rgba(0,0,0,0.1);}

.main-header{ background: #fff; border-bottom:1px solid #dee5ec;font-family: "微软雅黑"; max-height: 63px; position: fixed !important; top: 0; width: 100%; } 
.main-header .navbar-custom-menu, .main-header .navbar-right{margin-top: 11px;font-size: 14px;color:#71778f;line-height: 41px;margin-right: 40px }
/*.btn-default{background-color: #FF5E16;border-color:#FF5E16;color: #fff;padding: 2px 11px;}*/
/* .btn-primary{padding: 2px 11px;} */
.btn-out{border-radius: 4px !important;-webkit-border-radius:4px !important;}
.btn.btn-flat{width: 62px;line-height: 20px !important;background-color: #ff4a4a;color: #fff;border:none}
.btn.btn-flat:hover {background-color: #ff4a4a !important;}
.logo-lg-r{color: #444;text-indent: 8px; padding-right: 15px; font-family: "微软雅黑"}
.logo-box{width:100px}
.main-sidebar, .left-side{background-color: #222d32; padding-top: 63px; width: 210px; position: fixed;}

.nav>li>a{padding: 10px 0;}
.navbar-nav>li{margin-left: 40px; float: left;}
.navbar-nav>li>a{line-height: 21px;}
.skin-blue .main-header .navbar .nav > li > a{ color: #666 }
.skin-blue .main-header .navbar .nav > li > a:hover,
.skin-blue .main-header .navbar .nav > li > a:focus,
.menu-active{color: #008bff !important; border-bottom: 2px solid #008bff;background: none;}
.skin-blue .main-header .navbar{background-color:#fff;border-bottom:1px solid #dee5ec;}
.main-header>.navbar{ min-height:62px; margin-left: 210px}

.control-sidebar{display: none;}
.content{ padding-right: 25px\9\0;padding-right: 25px\9;*padding-right: 25px;}
.username-link{ display: block; float: left;}
.username-link:hover{text-decoration: none !important; border: 0;}


.main-header .logo{height: 63px;line-height: 63px}
.skin-blue .wrapper{ background: none; }
.skin-blue .main-sidebar, .skin-blue .left-side{background-color: #343844}
.logo-lg{color:#71778f; padding: 0 20px; }
/*.logo img{width: 250px; height: 25px}*/
.iconfont.pull-right{line-height: 63px;}

.iconfont.icon-company-select,
.iconfont.icon-user,
.iconfont.icon-home{font-size: 15px;-webkit-text-stroke-width: 0px; margin-right: 5px;}
.iconfont.icon-company-select{ margin-right: 6px; }
.iconfont.icon-menu1,
.iconfont.icon-menu2,
.iconfont.icon-menu3,
.iconfont.icon-menu4{-webkit-text-stroke-width: 0px; font-size: 18px; margin-right: 5px;}
.icon-password {
	position: absolute;
	top: 13px;
	left: -20px;
	width: 15px;
	height: 16px;
	background: url("../img/password.png") no-repeat center / contain;
}

/*header 下拉菜单*/
.name-hover{ display: block; float: left; position: relative; min-width: 230px; font-size: 14px; text-align: right;}
.name-hover-bg{background: #3a3c4a; }
.select-list{ display: none; position: absolute; text-align: left; width: 100%; min-height: 30px; max-height: 300px; overflow: auto; background: #3A3C4A; margin: 0; padding: 0; }
.select-list>li{ list-style: none; height: 30px; line-height: 30px; }
.select-list>li>a{ display: block; width: 100%; height: 100%; padding: 0 20px; color:#71778f;overflow:hidden;white-space: nowrap;text-overflow:ellipsis;}
.select-list>li>a:hover{color: #ff5e16;background: #008bff;}
 
.sidebar-menu>li>a{color:#878ea9;}
.sidebar-menu>li>a>span{font-size: 14px; font-family: "微软雅黑";}
.sidebar-menu .treeview-menu>li>a{font-size:14px}
.skin-blue .treeview-menu > li.active > a, 
.skin-blue .treeview-menu > li > a:hover{color:#fff}
.skin-blue .treeview-menu > li.visited > a{color: #878ea9}
.skin-blue .sidebar-menu > li:hover > a, 
.skin-blue .sidebar-menu > li.active > a {background: #2a2e37;border-left-color: #333642;}
.skin-blue .treeview-menu > li > a >span{font-family: "微软雅黑";}
.skin-blue .sidebar-menu > li > .treeview-menu{background: #343844}
/*.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a{ color: #ff5e17; }*/

.sidebar-menu .treeview-menu>li {
	line-height: 26px;
}
.container-fluid {
	padding-left: 40px;
	padding-right: 0;
}

/* 搜索框 */
.navbar .search-box {
	position: absolute;
	left : 0;
	top : 12px;
	
}
.navbar .search-box input {
	float:left;
	outline:none;
	width:425px;
	height:36px;
	border: 1px solid #d7eafb;
	line-height : 36px;
	color:#999;
	font-size:14px;
	padding-left:10px;
}
.navbar .search-box button {
	float: left;
	border:none;
	line-height : 34px;
	border-radius:0 3px 3px 0;
	width:60px;
	background-color:#d7eafb;
}

.content-wrapper, .right-side{background-color: #f3f3f3;margin-left: 170px; margin-top: 63px;}
.index-pic{
  position: absolute;
  left: 50%;
  top: 50%;
}
.index-pic img{ width: 96px; height: 88px;   margin-top: -100px; }
.index-pic h1 {
  font-size: 26px;
  font-weight: 700;
  color: #38a4fe;
  margin-left: -90px;
}
.sidebar-menu{position: fixed; left: 0; width: 210px;}

/*首页*/
.main-footer{ position: fixed; bottom: 0; background: #343844; z-index: 999; color: #878ea9;border:0; width: 210px; margin-left: 0; text-align: center; }

.box{border-top: 0px solid #d2d6de;}
table.dataTable{margin-top: 0 !important;color: #333}
.col-sm-12{ padding: 0 }
.table-primary thead tr th{ background-color: #fafbfd; color: #878ea9}
.table>thead>tr>th{ border: 0; font-weight: 700;}
.row{margin: 0}
.btn-sm{ height: 28px; line-height: 18px; }
.step{font-size: 14px;}
.mast-select {color: #ff5e16 !important;font-style: normal;padding-left: 2px;}

/*弹出框遮罩被影响，修改框架样式*/
.wrapper{ overflow: visible !important; }
.content-wrapper{
	overflow: auto;
	/*padding-bottom: 50px;*/
	height: 886px;
}
.body-overflow{overflow: hidden !important;}
.iconfont.icon-wrong{font-size: 20px;}
.team-select-txt{ width: 120px; float: left; }
.team-select{ width: 200px;height: 30px; color: #878ea9; float: left;  }

/*bootstrap分页标签样式修改*/
.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover{background-color: #F6F7F9;border-color: #ddd; color: #333;}
label{ font-weight: 200; }
.col-sm-6{color:#888;}

/*blue.css 单选框样式*/
.icheckbox_flat-blue{width: 15.4px}
.icheckbox_flat-blue.checked{background-position: -30px 0;}

/*操作确认框样式修改*/
.bootstrap-dialog.type-primary .modal-header{background: none;}
.bootstrap-dialog-header{text-align: center;}
.bootstrap-dialog .bootstrap-dialog-title{color: #8a8db0;font-family: "微软雅黑";font-weight: 200;}
/*.modal-header{border-bottom-color: #dcdcdc;}*/
/*.modal-content{border-radius: 0;background:#fff; border:0; overflow: hidden;box-shadow: none;-webkit-box-shadow:none; position: relative;}*/
/*.modal-dialog{width:340px; margin: 200px auto 0 !important;} */
.close{opacity: .4;}
.form-horizontal .control-label{ width: 100%; margin-bottom: 10px; font-size: 14px; text-align: left; padding: 0; color: #8a8db0;}
.col-sm-7{width: 100%;padding: 0;}
.col-sm-3{width: 100%;padding: 5px 0; margin: 15px 0 0 0;color: #ff5e16; background: #ffdfd1; text-indent: 5px; font-size: 14px;}
/*.modal-body{color: #ff5e16;padding: 15px 30px; margin-bottom: 60px; min-height: 80px; overflow: hidden;}*/
/*.modal-footer{ padding: 0; }*/
.del-btn-submit{position: absolute;bottom: 0; width: 100%; height: 45px; line-height: 45px; color: #fff; background: #ff5e16;text-align: center;}
.del-btn-submit button{ background: none;border:0;outline：none; width: 100% !important;height: 100%;}
.container-fluid{font-family: "微软雅黑"}
.input-txt{width: 100%; padding: 8px}

.gruy-bg{ background: #f5f6f8; padding:4px 5px;}
.gruy-bg>span{color: #8a8db0; padding-left: 5px;}
.order-input{ text-indent: 5px; width: 80px; height: 20px; color: #888}
/*404弹窗样式*/
.bootstrap-dialog.type-warning .modal-header,.bootstrap-dialog.type-success .modal-header{background: none;}
.error-page{width: auto;font-family: "微软雅黑"}
.headline >img{ width: 270px; }
.error-page>.headline{float: none;}
.error-page>.error-content{margin: 0;}
.error-page>.error-content>h3{font-family: "微软雅黑"}

/*修改框架table样式*/
.box-header{padding: 20px; background-color: #fbfcfd;}
.table-striped>tbody>tr:nth-of-type(odd){ background-color: #fbfcfd; }
.table-striped>tbody>tr:hover{background-color: #f5f8fd;}
.verify-title-border{ border-bottom: 1px solid #d2d6de; margin-bottom: 20px;}

.table-box{overflow: auto !important;}
table tbody tr td {
    word-break: break-all;
    white-space: normal;
    word-wrap: break-word;
    text-align: left;
}
.red-tag {
	color: #ff1213;
}