ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

i {
  font-style: normal
}

s {
  text-decoration: none;
}

b {
  font-weight: 400;
}

.inline-block {
  display: inline-block !important;
}

/*配置icheck*/
.icheckbox_minimal-blue,
.iradio_minimal-blue {
  width: 18px;
  height: 18px;
}

.iradio_minimal-blue {
  background-position: -100px 0;
}

.icheckbox_minimal-blue.hover {
  background-position: -20px 0;
}

.iradio_minimal-blue.hover {
  background-position: -120px 0;
}

.icheckbox_minimal-blue.checked {
  background-position: -40px 0;
}

.iradio_minimal-blue.checked {
  background-position: -140px 0;
}

.icheckbox_minimal-blue,
.iradio_minimal-blue {
  margin-right: 10px;
}

.iradio_minimal-blue.checked.disabled {
  background-position: -140px 0;
}

.container-fluid {
  padding-left: 40px;
  padding-right: 0;
  background-color: #f3f3f3;
}

.clearfix::after {
  content: '';
  display: block;
  visibility: hidden;
  height: 0;
  line-height: 0;
  clear: both;
}

.form-control {
  display: inline-block;
}

.relative {
  position: relative;
}

.mb20 {
  margin-bottom: 20px;
}

.mr15 {
  margin-right: 15px;
}

.mr20 {
  margin-right: 20px;
}

.mr25 {
  margin-right: 25px;
}

.mr60 {
  margin-right: 60px;
}

.city {
  width: 150px !important;
  margin-right: 25px;
}

.city02 {
  width: 100px !important;
}

.css-disabled {
  background-color: #fff !important;
}

/*按钮*/
.btn-print {
  background-color: #8BCAFF;
}

.btn-submit {
  background-color: #39C567;
}

.btn-refuse {
  background-color: #FF4425;
}

.btn-reject {
  background-color: #47ABFF;
}

.btn-small-new {
  color: #fff;
  padding: 6px 20px;
}

.btn-new {
  padding: 8px 20px;
  color: #fff;
  font-size: 15px;
}

.btn-gray {
  background-color: #dadada;
  cursor: default;
}

.btn-new:hover,
.btn-new:active,
.btn-new:focus,
.btn-small-new:hover,
.btn-small-new:active,
.btn-small-new:focus {
  color: #fff;
}

.tab-con {
  padding-bottom: 130px;
}

.text-red {
  color: #ff4425;
}

.nav-bar {
  line-height: 60px;
  font-size: 14px;
  color: #333;
  padding-left: 20px;
  background-color: #fff;
  border-bottom: 1px solid #f3f3f3;
  position: relative;
}

#myModal p,
#isPay p {
  font-size: 16px;
  font-weight: 700;
  color: #333;
}

#myModal button.btn-submit {
  background-color: #008bff !important;
  color: #fff !important;
}

/*驳回理由*/
.nav-bar .reject-reason {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 12px;
  font-size: 13px;
  background-color: rgba(0, 0, 0, .5);
  border-radius: 30px;
  line-height: 36px;
  padding: 0 25px;
  box-shadow: 0 3px 9px 0 rgba(0, 0, 0, .4);
  -webkit-box-shadow: 0 3px 9px 0 rgba(0, 0, 0, .4);
  -moz-box-shadow: 0 3px 9px 0 rgba(0, 0, 0, .4);
  -ms-box-shadow: 0 3px 9px 0 rgba(0, 0, 0, .4);
  -o-box-shadow: 0 3px 9px 0 rgba(0, 0, 0, .4);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  display: none;
}

.nav-bar .reject-reason.go-show {
  display: block;
}


.steps {
  /* padding-bottom: 40px; */
  border-bottom: 1px solid #f3f3f3;
  background-color: #fff;
  /* padding-top: 20px; */
}

.steps > ul {
  padding: 20px 30px 40px;
}

@media screen and (max-width: 1396px) {
  .steps > ul {
    padding: 20px 10px 40px;
  }

  .steps > ul li.process {
    width: 70px;
  }
}

.steps li {
  float: left;
  text-align: center;
  width: 60px;
  height: 100px;
  margin-bottom: 20px;
  position: relative;
  background: url("../img/management/point_no_active.png") no-repeat center;
}

.steps li.active {
  background: url("../img/management/point_active.png") no-repeat center;
}

.steps li.process {
  width: 80px;
  background: url("../img/management/arrow_no_active.png") no-repeat center;
}

.steps li.process.active {
  background: url("../img/management/arrow_active.png") no-repeat center;
}

.steps li.process.hide {
  display: none;
}

.steps li span {
  width: 150%;
  left: -16px;
}

.steps li span.time-out {
  font-size: 12px;
  position: absolute;
  top: 4px;
}

.steps li span.time-out.hide {
  display: none;
}

.steps li.active span.time-out {
  color: #008bff;
}

.steps li span.normal {
  position: absolute;
  bottom: 4px;
  color: #666;
}

.steps li span.people-name {
  position: absolute;
  bottom: -15px;
}

/*tab标签*/
.tab-con .nav-tabs {
  border-bottom: 2px solid #eeeeee;
  background-color: #fff;
  position: relative;
}

.tab-con .nav-tabs > li {
  padding: 0 15px;
}

.tab-con .nav-tabs > li > a {
  font-family: 'microsoft yahei';
  font-weight: 700;
  color: #333;
  font-size: 16px;
  line-height: 50px;
  padding: 0;
}

.tab-con .nav-tabs > li.active > a {
  border: none;
  border-bottom: 2px solid #008bff;
  color: #008bff;
}

.tab-con .nav-tabs > li > a:hover {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #008bff;
}

.tab-con .tab-pane {
  padding: 20px;
}

.tab-content .panel-info > .panel-heading {
  background-color: #fbfcff;
  border-color: #e9f1ff;
}

.tab-content .panel-info {
  border-color: #e9f1ff;
}

.tab-content .panel-info > .panel-heading {
  color: #008bff;
}

.tab-content .panel-info .panel-title {
  font-size: 16px;
}

.tab-content .tab-pane .panel .panel-body {
  position: relative;
}

.tab-content .tab-pane .panel .panel-body ul.base-info {
  width: 380px;
  margin-right: 120px;
  float: left;
}

.tab-content .tab-pane .panel .panel-body ul.base-info#fiveWeb {
  width: 100%;
}

.tab-content .tab-pane .panel .panel-body ul.base-info#fiveWeb li#textRemark {
  padding-left: 70px;
  color: #6ebdff;
}

.tab-content .tab-pane .panel .panel-body ul.base-info li {
  margin-bottom: 40px;
}

.tab-content .tab-pane .panel .panel-body ul.base-info li.relative span#toUpperMoney {
  color: #FF4425;
  font-size: 12px;
  position: absolute;
  top: 40px;
  left: 130px;
}

.tab-content .tab-pane .panel .panel-body ul.base-info li.spe-li {
  width: 470px;
}

.tab-content .tab-pane .panel .panel-body i.desc-name {
  display: inline-block;
  width: 120px;
  margin-right: 10px;
}

.tab-content .tab-pane .panel .panel-body .form-control {
  width: 230px;
}

.tab-content .tab-pane .panel .panel-body .evaluate .uploader-list {
  min-height: auto;
}


.short-select {
  width: 170px !important;
  margin-right: 5px;
}

.long-input {
  width: 730px !important;
}

.tab-content .tab-pane .panel .panel-body .live-status-box {
  margin-top: 20px;
}

.tab-content .tab-pane .panel .panel-body .live-status {
  margin-left: 120px;
  line-height: 39px;
}

.tab-content .tab-pane .panel .panel-body .live-status label {
  margin-right: 25px;
}

.tab-content .tab-pane .panel .panel-body .live-status .pay-month {
  margin-left: 15px;
}

@media (max-width: 1366px) {
  .tab-content .tab-pane .panel .payee-base-info.panel-body {
    padding-bottom: 60px;
  }

  .tab-content .tab-pane .panel .panel-body .live-status-box {
    width: 100%;
    position: absolute;
    bottom: 15px;
    left: 15px;
  }

  .tab-content .tab-pane .panel .panel-body .form-control.pay-month {
    width: 80px;
  }
}

.tab-content .tab-pane .panel .panel-body .parter-house {
  /*margin-left: 115px;*/
}

.tab-content .tab-pane .panel .panel-body .pawn-place {
  margin-bottom: 20px;
}

.tab-content .tab-pane .panel .panel-body .unit,
.tab-content .tab-pane .panel .panel-body .tip {
  position: absolute;
  left: 375px;
  bottom: 8px;
  width: 50px;
}

.tab-content .tab-pane .panel .panel-body .tip {
  width: 400px;
}

.tab-content .tab-pane .panel .panel-body .debt01 {
  margin-bottom: 30px;
}

.tab-content .tab-pane .panel .panel-body textarea.form-control {
  vertical-align: top;
  width: 730px;
}

/*业务调查textarea*/
.tab-content .tab-pane .panel .panel-body ul.idea-ul {
  width: 420px;
}

.tab-content .tab-pane .panel .panel-body textarea.idea {
  width: 280px;
}

/*业务调查帮助表格*/
s#helpTip {
  position: relative;
  cursor: pointer;
}

s#helpTip:hover .help {
  display: block;
}

.help {
  color: #333;
  text-align: center;
  width: 560px;
  position: absolute;
  left: 0px;
  top: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  display: none;
}


@media (max-width: 1366px) {
  .tab-content .tab-pane .panel .panel-body textarea.form-control {
    width: 230px;
  }
}

/*控制区*/
.tab-content .tab-pane .control {
  width: 100%;
  height: 130px;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #fff;
  box-shadow: 0px 0px 40px rgba(90, 172, 255, 0.2);
  padding-left: 210px;
  padding-top: 50px;
}

.tab-content .tab-pane .control button.btn {
  margin-right: 20px;
}

.tab-content .tab-pane .control a.btn-print {
  margin-left: 50px;
  margin-right: 60px;
}

.tab-content .tab-pane .control textarea {
  width: 30%;
  vertical-align: top;
  margin-left: 10px;
  margin-right: 25px;
}

.tab-content .tab-pane .control select.form-control {
  width: 10%;
  margin-left: 10px;
}

/*图片附件 */
.tab-content .tab-pane .panel.asset-images {
  display: none;
}

.tab-content .tab-pane .panel .panel-body .asset-prove p {
  margin: 10px 0;
  font-weight: 700;
}

.tab-content .tab-pane .panel .panel-body .asset-prove li img {
  width: 120px;
  height: 85px;
  margin-right: 10px;
  position: relative;
  margin-bottom: 10px;
}

/*信用信息*/
.tab-content .authorization-info .address-list span,
.tab-content .authorization-info .recently-login span {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 30px;
  width: 60px;
}

.tab-content .authorization-info .recently-login .rencently-map {
  display: inline-block;
  margin-bottom: 0;
  width: 650px;
  border: 1px solid #e1e1e1;
  vertical-align: top;
}

.tab-content .authorization-info .recently-login .rencently-map .display-text {
  width: 250px;
  height: 250px;
  border-right: 1px solid #e1e1e1;
}

.tab-content .authorization-info .recently-login .rencently-map .map-location {
  width: 398px;
  height: 250px;
}

.tab-content .authorization-info .recently-login .rencently-map .display-text p {
  margin-top: 15px;
  padding: 0 20px;
  line-height: 24px;
  font-weight: 700;
}

.tab-content .tab-pane .panel .panel-body .tongdun {
  width: 100%;
  height: 250px;
  padding-left: 380px;
  padding-top: 50px;
  position: relative;
}

.tab-content .tab-pane .panel .panel-body .tongdun .score {
  width: 150px;
  height: 150px;
  border-radius: 300px;
  background-color: #eee;
  position: absolute;
  left: 50px;
  top: 50px;
  text-align: center;
  padding-top: 40px;
}

.tab-content .tab-pane .panel .panel-body .tongdun .score span {
  font-size: 32px;
  color: #333;
  font-weight: 700;
  display: inline-block;
}

.tab-content .tab-pane .panel .panel-body .tongdun .score i {
  font-size: 14px;
  color: #18e431;
  display: inline-block;
}

.tab-content .tab-pane .panel .panel-body .tongdun .score i.reject {
  color: #ff340e;
}

.tab-content .tab-pane .panel .panel-body .introduce a {
  position: absolute;
  bottom: 50px;
  left: 385px;
}

.tab-content .tab-pane .panel .panel-body .introduce i {
  font-weight: 700;
}

/*业务调查*/
.tab-content .tab-pane .panel .panel-body.all-status-container > form > div {
  margin-bottom: 40px;
}

.tab-content .tab-pane .panel .borrow-factor .guarantee label {
  margin-right: 50px;
}

.tab-content .tab-pane .panel .borrow-factor .pay-type i {
  margin-top: 5px;
}

.tab-content .tab-pane .panel .borrow-factor .pay-type span.name {
  width: 120px;
  display: inline-block;
}

.tab-content .tab-pane .panel .borrow-factor .pay-type label {
  display: block;
  padding-left: 15px;
  margin-bottom: 15px;
}

.tab-content .tab-pane .panel .panel-body h3 {
  color: #008bff;
  line-height: 50px;
  font-size: 14px;
  margin: 0;
}

.tab-content .tab-pane .panel .panel-body .fitmen-status {
  margin-bottom: 15px;
  margin-top: 5px;
}

.tab-content .tab-pane .panel .panel-body .fitmen-status label {
  width: 120px;
}

.tab-content .tab-pane .panel .panel-body .pledge i {
  margin-top: 5px;
}

.tab-content .tab-pane .panel .panel-body .pledge label {
  display: block;
  padding-left: 15px;
}

.tab-content .tab-pane .panel .panel-body .pledge label input[type="text"] {
  width: 570px;
  margin-left: 20px;
}

.tab-content .tab-pane .panel .panel-body .evaluate {

}

.tab-content .tab-pane .panel .panel-body .evaluate > div {
  margin-bottom: 30px;
  border-bottom: 1px solid #eeeeee;
}

.tab-content .tab-pane .panel .panel-body .evaluate > h4 {
  font-weight: 700;
  font-size: 12px;
}

.tab-content .tab-pane .panel .panel-body .evaluate > p {
  margin-bottom: 30px;
}

.tab-content .tab-pane .panel .panel-body .evaluate > p span {
  color: #6ebdff;
  margin-right: 25px;
}

.tab-content .tab-pane .panel .panel-body .evaluate ul.control-area {
  float: right;
  margin-right: 50px;
}

.tab-content .tab-pane .panel .panel-body .evaluate ul.control-area > li {
  float: left;
}

.tab-content .tab-pane .panel .panel-body .evaluate ul.control-area button {
  padding: 7px 14px;
}

.tab-content .tab-pane .panel .panel-body .evaluate ul.images {
  float: left;
}

.tab-content .tab-pane .panel .panel-body .evaluate ul.images li {
  float: left;
}

.tab-content .tab-pane .panel .panel-body .evaluate ul.images li img {
  width: 160px;
  height: 80px;
}

.tab-content .tab-pane .panel .panel-body .evaluate ul li.split-li {
  width: 1px;
  height: 110px;
  background-color: #eee;
  margin: 0 15px 0 0;
}

.tab-content .tab-pane .panel .panel-body .evaluate .uploader-list {
  border: none;
  height: auto;
  width: auto;
  padding: 0;
  margin-top: 0;
}

.tab-content .tab-pane .panel .panel-body .evaluate .file-item {
  float: none;
  width: 170px;
  height: 105px;
  padding-bottom: 10px;
}

.tab-content .tab-pane .panel .panel-body .evaluate .file-item i {
  font-size: 14px;
  color: #ff340e;
  position: absolute;
  right: 4px;
  bottom: 2px;
  cursor: pointer;
}

.tab-content .tab-pane .panel .panel-body .evaluate .uploader-list .file-item .result {
  bottom: 0;
}

.uploader-list .file-item .remove-this {
  margin-top: -6px;
}

.tab-content .tab-pane .panel .panel-body .credit-container .credit {
  margin-bottom: 15px;
}

.tab-content .tab-pane .panel .panel-body .credit-container .credit input.short-width {
  width: 130px;
  margin-right: 10px;
}

.tab-content .tab-pane .panel .panel-body .credit-container .credit > span {
  margin-right: 15px;
}

.tab-content .tab-pane .panel .panel-body .credit-container .credit > s {
  margin-left: 5px;
}

.tab-content .tab-pane .panel .panel-body .credit-container .credit > b {
  margin-left: 160px;
  margin-right: 20px;
}

.tab-content .tab-pane .panel .panel-body .credit-container .credit > label,
.tab-content .tab-pane .panel .panel-body .lawsuit-container label {
  display: inline-block;
  width: 150px;
}

.tab-content .tab-pane .panel .panel-body .lawsuit-container {
  margin-bottom: 40px;
}

.tab-content .tab-pane .panel .panel-body .family-debt-container span {
  position: absolute;
  left: 135px;
  bottom: -25px;
}

.tab-content .tab-pane .panel .panel-body .family-asset-container table {
  width: 80%;
  margin-left: 80px;
}

.tab-content .tab-pane .panel .panel-body .family-asset-container table th,
.tab-content .tab-pane .panel .panel-body .family-asset-container table td {
  background-color: #eaf6ff;
  line-height: 48px;
  height: 64px;
  font-weight: 400;
  text-align: center;
  border: 1px solid #dfdfdf;
}

.tab-content .tab-pane .panel .panel-body .family-asset-container table td {
  background-color: #fff;
}

.tab-content .tab-pane .panel .panel-body .family-asset-container table td.bgc {
  background-color: #eaf6ff;
  width: 150px;
}

.tab-content .tab-pane .panel .panel-body.survey label {
  position: absolute;
  right: -160px;
  top: 5px;
  width: 120px;
}

.tab-content .tab-pane .panel .panel-body table input {
  border: none !important;
  width: 100% !important;
}

.tab-content .tab-pane .panel .panel-body table input:focus {
  border: none !important;
}

.tab-content .tab-pane .panel .panel-body #auditForm ul.remark-ul {
  width: auto;
}

.tab-content .tab-pane .panel .panel-body #auditForm textarea.remark {
  width: 230px;
  resize: none;
}

table {
  table-layout: fixed;
  word-break: break-all;
}


/*业务审批*/
.tab-content .tab-pane .panel .panel-body textarea.form-control.idea {
  width: 230px;
  resize: none;
}

.tab-content .tab-pane .panel .panel-body.examine {

}

.tab-content .tab-pane .panel .panel-body.examine ul.spe-ul {

}

.tab-content .tab-pane .panel .panel-body.examine ul.spe-ul li {
  margin-bottom: 20px;
}

.tab-content .tab-pane .panel .panel-body.examine ul.spe-ul li label {
  display: inline-block;
  width: 155px;
}

.tab-content .tab-pane .panel .panel-body.examine ul.spe-ul li label span {
  margin-left: 5px;
}

.tab-content .tab-pane .panel .panel-body.examine ul.spe-ul li i {
  width: 315px;
}

.tab-content .tab-pane .panel .panel-body.examine ul.spe-ul li.spe-li {
  padding-left: 23px;
}

.tab-content .tab-pane .panel .panel-body.examine ul.spe-ul li.spe-li i {
  width: 292px;
}

.tab-content .tab-pane .panel .panel-body.examine .check-idea {
  margin-top: 30px;
  margin-bottom: 30px;
}

.tab-content .tab-pane .panel .panel-body.examine .check-idea i {
  width: 325px;
  display: inline-block;
}

.tab-content .tab-pane .panel .panel-body.examine .check-idea label {
  margin-right: 90px;
}

.tab-content .tab-pane .panel .panel-body .proposer-check li,
.tab-content .tab-pane .panel .panel-body .check-pawn li {
  margin-bottom: 30px;
}

.tab-content .tab-pane .panel .panel-body .proposer-check li i,
.tab-content .tab-pane .panel .panel-body .check-pawn li i {
  display: inline-block;
  width: 260px;
}

.tab-content .tab-pane .panel .panel-body .proposer-check li label,
.tab-content .tab-pane .panel .panel-body .check-pawn li label {
  display: inline-block;
  width: 240px;
}

.tab-content .tab-pane .panel .panel-body li input.middle-width {
  width: 270px;
  margin-right: 60px;
}

.tab-content .tab-pane .panel .panel-body li input.short-width {
  width: 230px;
}

.tab-content .tab-pane .panel .panel-body li.pledge-orders input.short-width {
  position: absolute;
  right: -145px;
  top: -5px;
}

.tab-content .tab-pane .panel .panel-body .pawn-price {
  margin-bottom: 25px;
}

.tab-content .tab-pane .panel .panel-body .pawn-price input.spe-form-width {

}

@media (max-width: 1366px) {
  .tab-content .tab-pane .panel .panel-body .pawn-price input.spe-form-width {
    width: 170px;
  }
}

.tab-content .tab-pane .panel .panel-body .pawn-price i {
  margin-right: 15px;
}

.tab-content .tab-pane .panel .panel-body .pawn-price span {
  margin-right: 115px;
}

.tab-content .tab-pane .panel .panel-body .borrow-usefor {

}

.tab-content .tab-pane .panel .panel-body .borrow-usefor > i {
  color: #289dff;
  display: inline-block;
  width: 260px;
  font-size: 14px;
  line-height: 50px;
}

.tab-content .tab-pane .panel .panel-body .borrow-usefor label {
  display: inline-block;
  width: 240px;
}

.tab-content .tab-pane .panel .panel-body .borrow-usefor input.productRequired {
  position: absolute;
  right: -130px;
  bottom: -5px;
}

.tab-content .tab-pane .control textarea.business-reply {
  width: 30%;
  margin-right: 2%;
}

.tab-content .tab-pane .control select.business-reply-select {
  width: 10%;
  vertical-align: top;
  margin-left: 10px;
}

/*合同管理*/
.tab-content .tab-pane .panel .panel-body.compact ul {
  width: 100%;
}

.tab-content .tab-pane .panel .panel-body.compact li {
  width: 100%;
  margin: 20px 0;
  height: 30px;
}

.tab-content .tab-pane .panel .panel-body.compact li > span {
  display: inline-block;
  margin-left: 100px;
}

.tab-content .tab-pane .panel .panel-body.compact li > span a {
  margin-right: 15px;
}

.tab-content .tab-pane .panel .panel-body.compact li > s {
  width: 300px;
  position: relative;
  padding-left: 30px;
  display: inline-block;
}

.tab-content .tab-pane .panel .panel-body.compact li > s::after {
  content: '';
  position: absolute;
  left: 0;
  top: -5px;
  width: 26px;
  height: 29px;
  background: url("../img/contract.png") no-repeat center;
}

.tab-content .tab-pane .panel .panel-body.compact #picker {
  padding: 0;
  background-color: #fff;
}

.tab-content .tab-pane .panel .panel-body.compact .webuploader-pick {
  background-color: #8BCAFF;
}

.tab-content .tab-pane .panel .panel-body.compact .description {
  margin: 25px 0;
}

.tab-content .tab-pane .panel .panel-body.compact .description p {
  color: #ff340e;
  line-height: 26px;
  font-size: 12px;
}

.tab-content .tab-pane .panel .panel-body.compact .uploader-list {
  height: auto !important;
  border-color: #efefef;
}

.tab-content .tab-pane .panel .panel-body.compact .uploader-list .item {
  margin: 25px 0;
  height: 26px;
}

.tab-content .tab-pane .panel .panel-body.compact .uploader-list h4 {
  font-size: 12px;
  position: relative;
  padding-left: 30px;
  display: inline-block;
  width: 550px;
}

.tab-content .tab-pane .panel .panel-body.compact .uploader-list h4 i.remove-this {
  color: #008bff;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.tab-content .tab-pane .panel .panel-body.compact .uploader-list h4::after {
  content: '';
  position: absolute;
  left: 0;
  top: -8px;
  width: 26px;
  height: 29px;
  display: inline-block;
  background: url(../img/contract.png) no-repeat center;
}

.tab-content .tab-pane .panel .panel-body #auditForm ul.mr0 {
  margin-right: 0;
}

/*放款流程*/
.tab-content .tab-pane .panel .panel-body.loan-process {
  padding: 75px 0;
}

.tab-content .tab-pane .panel .panel-body.loan-process .loan-wrapper {
  width: 428px;
  border-left: 2px solid #eeeeee;
  box-sizing: border-box;
  padding: 5px 0 25px 24px;
  position: relative;
  margin-left: 225px;
  margin-bottom: 35px;
}

.tab-content .tab-pane .panel .panel-body.loan-process .loan-wrapper.checked {
  border-left-color: #149dff;
}

.tab-content .tab-pane .panel .panel-body.loan-process .loan-wrapper .loan-content {
  box-sizing: border-box;
  width: 484px;
  min-height: 225px;
  border: 1px solid #eee;
  position: relative;
  border-radius: 5px;
  padding-top: 25px;
  padding-bottom: 15px;
}

.tab-content .tab-pane .panel .panel-body.loan-process .loan-wrapper .loan-content::after {
  content: '';
  display: block;
  background: url("../img/reply/arrow.png") no-repeat center;
  width: 13px;
  height: 10px;
  position: absolute;
  left: 22px;
  top: -8px;
}

.tab-content .tab-pane .panel .panel-body.loan-process .loan-wrapper .loan-content label {
  margin-bottom: 10px;
}

.tab-content .tab-pane .panel .panel-body.loan-process .loan-wrapper .loan-content label.relative span#toUpperMoney {
  position: absolute;
  padding: 8px 15px;
  background-color: #444444;
  color: #fff;
  font-size: 13px;
  top: -45px;
  left: 115px;
  white-space: nowrap;
  border-radius: 4px;
  display: none;
}

.tab-content .tab-pane .panel .panel-body.loan-process .loan-wrapper .loan-content i {
  display: inline-block;
  width: 105px;
  text-align: right;
  margin-right: 5px;
}

.tab-content .tab-pane .panel .panel-body.loan-process .loan-wrapper .point {
  width: 22px;
  height: 22px;
  position: absolute;
  left: -12px;
  top: -28px;
  background: url("../img/reply/point.png") no-repeat center;
}

.tab-content .tab-pane .panel .panel-body.loan-process .loan-wrapper.checked .point {
  background: url("../img/reply/point_checked.png") no-repeat center;
}

.tab-content .tab-pane .panel .panel-body.loan-process .loan-wrapper h2.process-title {
  font-size: 12px;
  color: #333;
  font-weight: 700;
  position: absolute;
  left: 25px;
  top: -45px;
}

.tab-content .tab-pane .panel .panel-body.loan-process .loan-wrapper span.process-name {
  position: absolute;
  left: -92px;
  top: -27px;
  color: #999;
}

.tab-content .tab-pane .panel .panel-body.loan-process .loan-wrapper span.process-name.pass {
  color: #45ce25;
}

.tab-content .tab-pane .panel .panel-body.loan-process .loan-wrapper span.process-name.reject {
  color: #ff4425;
}

.tab-content .tab-pane .panel .panel-body.loan-process .loan-wrapper span.process-name::after {
  content: '';
  position: absolute;
  left: -20px;
  top: 0;
  width: 16px;
  height: 16px;
}

.tab-content .tab-pane .panel .panel-body.loan-process .loan-wrapper span.process-name.pass::after {
  background: url("../img/reply/pass.png") no-repeat center;
}

.tab-content .tab-pane .panel .panel-body.loan-process .loan-wrapper span.process-name.reject::after {
  background: url("../img/reply/reject.png") no-repeat center;
}

.tab-content .tab-pane .panel .panel-body.loan-process .loan-wrapper span.process-time {
  position: absolute;
  left: -149px;
  top: -8px;
  color: #999;
}

.tab-content .tab-pane .panel .panel-body.loan-process .loan-wrapper .btns {
  position: absolute;
  right: -150px;
  top: 5px;
}

.tab-content .tab-pane .panel .panel-body.loan-process .loan-wrapper .btns span {
  margin-right: 10px;
}

.tab-content .tab-pane .panel .panel-body.loan-process .loan-wrapper .btns button {
  margin-right: 20px;
}

.tab-content .tab-pane .panel .panel-body.loan-process .loan-wrapper .btns button.pos-l120 {
  position: absolute;
  left: -120px;
}

.tab-content .tab-pane .panel .panel-body.loan-process .loan-wrapper .btns.btns-pos {
  right: -690px;
}

.tab-content .tab-pane .panel .panel-body.loan-process .loan-wrapper .btns.isLeft {
  right: -270px;
}

.tab-content .tab-pane .panel .panel-body.loan-process .loan-wrapper .btns.isLeft.isLeft-s {
  right: -480px;
}

.tab-content .tab-pane .panel .panel-body.loan-process .loan-wrapper .input-wrap {
  width: 720px;
  position: absolute;
  left: 530px;
  top: 70px;
}

.tab-content .tab-pane .panel .panel-body.loan-process .loan-wrapper .input-wrap > ul {
  float: left;
}

.tab-content .tab-pane .panel .panel-body.loan-process .loan-wrapper .input-wrap textarea {
  resize: none;
}

.tab-content .tab-pane .panel .panel-body.loan-process .loan-wrapper .input-wrap .form-control {
  width: 230px;
}

.tab-content .tab-pane .panel .panel-body.loan-process .loan-wrapper .input-wrap li {
  margin-bottom: 12px;
}

.tab-content .tab-pane .panel .panel-body.loan-process .loan-wrapper .input-wrap li span {
  margin-right: 20px;
  display: inline-block;
  width: 100px;
  text-align: right;
}

.tab-content .tab-pane .panel .panel-body.loan-process .loan-wrapper .loan-content .fee li {
  margin-bottom: 10px;
}

.tab-content .tab-pane .panel .panel-body.loan-process .loan-wrapper .loan-content .fee li span {
  display: inline-block;
  width: 105px;
  text-align: right;
  margin-right: 5px;
}

.tab-content .tab-pane .panel .panel-body.loan-process .loan-wrapper .loan-content .form-control {
  width: 340px;
}

.tab-content .tab-pane .panel .panel-body.loan-process .loan-wrapper .loan-content .form-control-s {
  width: 110px;
}

.tab-content .tab-pane .panel .panel-body.loan-process .loan-wrapper .loan-content .fee li > div {
  float: left;
}

.tab-content .tab-pane .panel .panel-body.loan-process .loan-wrapper .loan-content .fee li .channel {
  margin-right: 6px;
}

.tab-content .tab-pane .panel .panel-body.loan-process .loan-wrapper .loan-content .fee li.channel-wrap {
  margin-top: 10px;
}

.tab-content .tab-pane .panel .panel-body.loan-process .loan-wrapper .loan-content .fee li.order-fee-list {
  position: relative;
}

.tab-content .tab-pane .panel .panel-body.loan-process .loan-wrapper .loan-content .fee li.order-fee-list p {
  position: absolute;
  right: -30px;
  top: 3px;
  color: #fff;
  background-color: #333;
  border-radius: 4px;
  display: none;
  padding: 5px 10px;
}

/*模态框*/
.modal#myDelPicModal p {
  font-size: 16px;
  font-weight: 700;
  color: #333;
}

.modal#myDelPicModal .modal-header {
  border: none;
}

.modal#myDelPicModal .modal-footer {
  border: none;
}

.loan-upload .uploader-list {
  min-height: auto;
  border: none;
}

.show-dom {
  display: block !important;
}

.tab-content#loanApprove .tab-pane .panel .panel-body .asset-prove li {
  float: left;
  width: 250px;
  margin-bottom: 15px;
}

.pointer {
  cursor: pointer !important;
}

#mask {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, .5);
  display: none;
  z-index: 1100;
}

#mask .areaContent {
  width: 800px;
  height: 530px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 10px;
  font-size: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#isPay .modal-header {
  border-bottom: none;
}

#isPay .modal-footer {
  border-top: none;
}

.select-btn div:nth-child(2) {
  position: absolute!important;
  top: 0px!important;
  left: 0px!important;
  width: 78px!important;
  height: 33px!important;
  overflow: hidden!important;
  bottom: auto!important;
  right: auto!important;
}
/*合同管理 选择图片按钮*/
#picker div:nth-child(2) {
	position: absolute!important;
    top: 0px!important;
    left: 0px!important;
    width: 90px!important;
    height: 37px!important;
    overflow: hidden!important;
    bottom: auto!important;
    right: auto!important;
}