/*初始化*/
ul,li,ol,li {
  list-style: none;
  padding: 0;
}
i,s,sub {
  font-style: normal;
  text-decoration: none;
}
.ie select::-ms-expand { display: none; }
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}

span.red-tag {
  color: #ff1a15;
}
span.blue-tag {
  cursor: pointer;
  color: #008bff;
}
.inblock {
  display: inline-block!important;}
/*开关*/
[class|=switch] {
  position: absolute;
}
span.switch-off,
span.switch-on {
  top: 4px;
}
.hide-dom {
  display: none;
}
/*配置icheck*/
.icheckbox_minimal-blue,
.iradio_minimal-blue {
  width: 18px;
  height: 18px;
}
.iradio_minimal-blue {
  background-position: -100px 0;
}
.icheckbox_minimal-blue.hover {
  background-position: -20px 0;
}
.iradio_minimal-blue.hover {
  background-position: -120px 0;
}
.icheckbox_minimal-blue.checked {
  background-position: -40px 0;
}
.iradio_minimal-blue.checked {
  background-position: -140px 0;
}
.icheckbox_minimal-blue,
.iradio_minimal-blue {
  margin-right: 10px;
}

.configuration {
  padding-top: 30px;
}
.configuration > div {
  display: none;
}
.configuration .base-configuration {
  display: block;
}
.configuration button.btn-mine {
  background-color: #008bff;
  border: none;
  color: #fff;
  height: 34px;
}
.configuration .panel-info {
  border-color: #e9f1ff;
}
.configuration .panel-info > .panel-heading {
  color: #008bff;
  background-color: #fbfcff;
  border-color: #e9f1ff;
}
.configuration .base-configuration #tagBox,
.configuration .base-configuration #borrowTypeBox,
.configuration .base-configuration #borrowUseBox,
.configuration .base-configuration #borrowBox,
.configuration .base-configuration #borrowBoxInner {
  display: inline-block;
}

.configuration .base-configuration .form-control {
  width: 25%;
  display: inline-block;
}
.configuration .base-configuration #monRateInterva .form-control,
.configuration .base-configuration #borrowInterval .form-control {
  width: 12%;
}

.configuration .product-tag-container {
  display: inline-block;
  position: relative;
  margin-left: 20px;
  width: 120px;
  text-align: center;
}
.configuration .product-tag-container i {
  position: absolute;
  right: -55px;
  top: 0;
  color: #ff1a15;
  font-size: 16px;
  width: 18px !important;
  height: 18px;
}
.configuration .form-control.product-tag {
  border-radius: 18px !important;
  width: 100%;
  border-color: #008bff;
}
.configuration .base-configuration li {
  line-height: 45px;
  margin-bottom: 15px;
}
.configuration .base-configuration li.eg {
	color: #999;
	line-height: 20px;
}
.configuration .base-configuration li.eg span {
	margin-right: 25px;
	margin-left: 148px;
}
.configuration .base-configuration li.borrow label {
  margin-right: 10px;
}
#brorrowInterval {
  margin-right: 15px;
}
.configuration .base-configuration li i,
.configuration .channel-configuration li i {
  display: inline-block;
  width: 96px;
  margin-right: 50px;
}
.configuration .channel-configuration li s {
  margin-right: 45px;
}
.configuration button.btn-product {
  margin-top: -5px;
  margin-left: 15px;
}
.configuration textarea.form-control {
  vertical-align: top;
}
.configuration .form-control.ensure-way-input {
  width: 310px;
  margin-left: 15px;
  display: none;
}
.configuration .form-control.ensure-way-input.show-input {
  display: inline-block;
}

.configuration li.credit-area-li i.con-name {
  float: left;

}
.configuration li.credit-area-li .area-container {
  float: left;
  padding-left: 5px;
  width: 45%;
  padding-bottom: 40px;
}
.configuration li.credit-area-li .area-container .credit-area {
	width: 720px;
}
.configuration li div.credit-area select.form-control {
  width: 30%;
  margin-right: 15px;
}
.configuration li div.credit-area select#city{
  display: none;
}
.configuration li div.credit-area select#city.go-show {
  display: inline-block;
}
.configuration li div.credit-area #showCityBox {
  display: inline-block;
  margin-left: 30px;
}
.configuration li div.credit-area #showCityBox.go-hide {
  display: none;
}
.configuration li.credit-area-li span {
  line-height: 20px;
  display: inline-block;
  padding: 15px 20px 15px 0;
  position: relative;
  margin-right: 40px;
}
.configuration li.credit-area-li span i {
  position: absolute;
  right: 0px;
  top: 10px;
  font-size: 12px;
  color: #ff1a15;
  width: 15px;
  height: 15px;
}
.configuration button.add-area {
  margin-top: -5px;
  margin-right: 20px;
}

#myModal button.btn-mine {
  background-color: #008bff;
  color: #fff;
}
#myModal .modal-body {
  padding-left: 45px;
}
#myModal .modal-body label {
  margin-right: 15px;
  margin-bottom: 15px;
  width: 13.5%;
}
#myModal_cancel .modal-body p {
  font-size: 16px;
  font-weight: 700;
  color: #333;
}
#myModal span.red-tag {
  display: none;
}
#myModal span.red-tag.go-show {
  display: inline-block;
}
.configuration .channel-configuration li#introType {
  margin-bottom: 40px;
}
.configuration .channel-configuration ul {
  padding-bottom: 10px;
  border-bottom: 1px solid #f4f4f4;
  margin-bottom: 30px;
}
.configuration ul.introType li > i.con-name {
  float: left;
  display: inline-block;
  width: 96px;
}
.configuration ul.introType li > div {
  overflow: auto;
}
.configuration ul.introType li span.title {
  width: 100px;
  display: inline-block;
}
.configuration ul.introType li .form-control {
  display: inline-block;
  width: 200px;
  margin-right: 15px;
}
.configuration ul.introType li .red-tag {
  margin-left: 100px;
}
.configuration ul.introType li .sepcial-left {
  margin-left: 110px;
}
.configuration ul.introType .operate > div {
  margin-bottom: 25px;
}
.configuration ul.introType span.channel-name {
  display: inline-block;
  line-height: 34px;
  height: 34px;
  width: 290px;
  border: 1px solid #d2d6de;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 15px;
  color: #bdc1c9;
  vertical-align: top;
  margin-right: 20px;
}
.configuration ul.introType button.btn-default {
  padding: 0 12px;
  line-height: 34px;
  height: 34px;
  vertical-align: top;
  margin-left: 15px;
}
.configuration ul.introType button.btn-default:hover,
.configuration ul.introType button.btn-default:focus {
  background-color: #f4f4f4!important;
  border-color: #ddd;
}
.configuration ul.introType .feeType i,
.configuration ul.introType .bondType i {
  width: 120px;
  margin-right: 30px;
  margin-top: 8px;
}
.configuration ul.introType .feeType > div,
.configuration ul.introType .bondType > div {
  overflow: auto;
}
.configuration ul.introType .feeType > div > p,
.configuration ul.introType .bondType > div > p {
  margin-bottom: 10px;
}
.configuration ul.introType .introTypeContent {
  margin-top: 40px;

}
.configuration ul.introType .oContent {
  margin-top: 40px;
}
.configuration ul.introType .oContent > div {
  padding-top: 40px;
  border-top: 1px solid #f4f4f4;
  padding-bottom: 20px;
}
.configuration ul.introType span.channel-name.add-channel-name {
  width: 365px;
}
.configuration ul.introType .addedChannelTitle {
  margin-bottom: 20px;
}
.configuration ul.introType .oContent .form-control[disabled] {
  background-color: transparent;
}

#channelListModal .search {
  margin-bottom: 20px;
}
#channelListModal .search .form-control {
  width: 88%;
  display: inline-block;
  margin-right: 1%;
  background-color: #f7f7f7;
}
#channelListModal .search button {
  margin-top: -5px;
  height: 34px;
  line-height: 34px;
  padding: 0 16px;
  color: #fff;
  background-color: #008bff;
}
#channelListModal .channel-list {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #cfcfcf;
  height: 596px;
  padding: 30px;
  overflow-y: auto;
}
#channelListModal .channel-list li {
  line-height: 24px;
  margin-bottom: 10px;
}
#channelListModal .channel-list li.choose {
  background-color: #eaeaea;
}
#channelListModal .btn-mine {
  background-color: #008bff;
  color: #fff;
}


.configuration .business-configuration .panel-body {
  font-size: 13px;
}
.configuration .business-configuration table th {
  padding: 15px 10px;
}
.configuration .business-configuration table td {
  padding: 10px;
}
.configuration .business-configuration table td.shallow {
  color: #999;
}
.configuration .business-configuration table td.invisibled {
  opacity: 0;
}
.configuration .business-configuration .base-info-name,
.configuration .business-configuration .uploading-info-name,
.configuration .business-configuration .accredit-info-name,
.configuration .business-configuration .id-card-info-name {
  width: 10%;
  margin-top: 13px;
  float: left;
  font-weight: 700;
}
.configuration .business-configuration .base-info-content,
.configuration .business-configuration .uploading-info-content,
.configuration .business-configuration .accredit-info-content,
.configuration .business-configuration .id-card-info-content {
  width: 85%;
  float: left;
}

.configuration .deal-configuration ul,
.configuration .money-configuration ul,
.configuration .process-configuration ul {
  padding-bottom: 20px;
  border-bottom: 1px solid #f4f4f4;
  margin-bottom: 40px;
}
.configuration .deal-configuration li,
.configuration .money-configuration li,
.configuration .process-configuration li {
  line-height: 40px;
  margin-bottom: 20px;
}
.configuration .deal-configuration li i,
.configuration .money-configuration li i,
.configuration .process-configuration li i {
  display: inline-block;
  width: 115px;
  margin-right: 50px;
}
.configuration .deal-configuration li s.
.configuration .money-configuration li s {
  width: 10%;
  display: inline-block;
}
.configuration .deal-configuration li sub,
.configuration .money-configuration li sub {
  width: 80%;
  font-size: 12px;
}
.ie .configuration .deal-configuration li sub,
.ie .configuration .money-configuration li sub {
  font-size: 14px;
}
.configuration .deal-configuration input.form-control,
.configuration .money-configuration input.form-control {
  display: inline-block;
  width: 10%;
}
.configuration .deal-configuration input#repaymentPlanWayOffset,
.configuration .money-configuration input#repaymentPlanWayOffset {
  margin-right: 15px;
}
.configuration .deal-configuration select,
.configuration .money-configuration select,
.configuration .process-configuration select {
  height: 34px;
  width: 120px;
  border-color: #d2d6de;
  margin-right: 50px;
}
.configuration .deal-configuration select[name="repaymentPlanWayOffset"] {
  font-size: 18px;
  margin: 0 15px;
  width: 40px;
}
.configuration .deal-configuration li#repayWay i {
  float: left;
}
.configuration .deal-configuration li#repayWay sub {
  float: left;
  padding-top: 15px;
  position: static;
}
.configuration .deal-configuration li#repayWay label {
  width: 200px;
  margin-bottom: 15px;
  margin-right: 35px;
}
.configuration .deal-configuration li#repayWay label input,
.configuration .deal-configuration li input#fixedInterestRate,
.configuration .deal-configuration li input#serviceCharge {
  margin-right: 10px;
}


.configuration .process-configuration li input[type="checkbox"],
.configuration .process-configuration li input[type="radio"] {
  margin-right: 10px;
}
.configuration .process-configuration li select.next-step,
.configuration .process-configuration li select.next-step-spe {
  margin-left: 350px;
}
.configuration .process-configuration li select.sepcial-left {
  margin-left: 130px;
}
.configuration .process-configuration li select.sepcial-left-user {
  margin-left: 325px;
}
.configuration .money-configuration li select.form-control {
  display: inline-block;
  margin-left: 20px;
}
.configuration .money-configuration li s {
  display: inline-block;
  width: 120px;
}
.configuration .process-configuration .assign-bill,
.configuration .process-configuration .assign-asset {
  display: inline-block;
  margin-left: 100px;
  width: 90px;
  vertical-align: top;
}
.configuration .process-configuration .assign-bill {
  visibility: hidden;
}
.configuration .process-configuration .assign-bill.go-show {
  visibility: visible;
}
.configuration .process-configuration li.business-reply > div {
  width: 100%;
  margin-left: 165px;
  padding-left: 5px;
}
.configuration .process-configuration li button.creat-product-process {
  margin-left: 350px;
  width: 120px;
}
.steps {
  /*padding-bottom: 20px;*/
  background-color: #fff;
  /*padding-top: 20px;*/
  display: none;
}
.steps.steps-process {
  display: block;
  background-color: transparent;
}
.steps li.dot {
  cursor: pointer;
}
@media screen and (max-width: 1396px) {
  .steps > ul {
    padding: 20px;
  }
}

.steps li {
  float: left;
  text-align: center;
  width: 60px;
  height: 100px;
  position: relative;
  background: url("../img/management/point_active.png") no-repeat center;
}
.steps li.process {
  width: 80px;
  background: url("../img/management/arrow_active.png") no-repeat center;
}

.steps li.process.hide {
  display: none;
}
.steps li span {
  width: 140%;
  left: -12px;
}
.steps li span.normal {
  position: absolute;
  bottom: 4px;
  color: #666;
}





