@charset "UTF-8";
/* Scss Document */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0; }

article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block; }

body {
  line-height: 1.2; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  border: none;
  vertical-align: top; }

/* 清除a标签中图片边框 */
input, button, textarea {
  vertical-align: middle;
  font: inherit; }

button, label, a {
  cursor: pointer; }

button {
  font-family: 'Microsoft YaHei'; }

h1 {
  line-height: 1.2;
  font-size: 60px;
  margin-bottom: 5px; }

h2 {
  line-height: 1.2;
  font-size: 56px;
  margin-bottom: 5px; }

h3 {
  line-height: 1.2;
  font-size: 28px;
  margin-bottom: 5px; }

h4 {
  line-height: 1.2;
  font-size: 24px;
  margin-bottom: 5px; }

h5 {
  line-height: 1.2;
  font-size: 20px;
  margin-bottom: 5px; }

h6 {
  line-height: 1.2;
  font-size: 18px;
  margin-bottom: 5px; }

ul {
  margin-left: 25px; }

ul li {
  list-style: disc; }

ul li ul li {
  list-style: circle;
  margin-left: 5px; }

ol {
  margin-left: 25px; }

ol li {
  list-style-type: decimal; }

ol li ol li {
  list-style-type: lower-alpha;
  margin-left: 5px; }

dl dt {
  font-weight: bold; }

dl dd {
  margin-left: 10px; }

table {
  border: 1px solid #DDD; }

td {
  padding: 5px;
  border: 1px solid #DDD; }

p {
  margin: 15px 0; }

hr {
  width: 100%;
  border: none;
  border-bottom: 1px solid #CCC;
  margin-top: 12px;
  margin-bottom: 12px; }

:focus {
  outline: 0; }

a, .btn {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-perspective: 1000;
  -webkit-perspective: 1000;
  perspective: 1000; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

a {
  text-decoration: none; }

a:link {
  color: #797f98; }

a:visited {
  color: #797f98; }

a:hover {
  color: #797f98; }

a:active {
  color: #797f98; }

body {
  background: #f5f6f7;
  border: none;
  font-family: Arial, 'Microsoft YaHei';
  font-size: 14px;
  line-height: 1.5;
  color: #797f98;
  min-width: 1200px; }

.none {
  margin: 0; }

.block {
  display: block; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.text-center {
  text-align: center; }

.btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 6px 12px;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none; }
  .btn:hover {
    text-decoration: none; }
  .btn:active {
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15); }
  .btn.disabled, .btn.disabled:visited, .btn.disabled:hover {
    background: #DDD;
    border-color: #AAA;
    color: #999;
    cursor: text; }
  .btn.btn-sm {
    padding: 3px 6px;
    font-size: 12px; }
    .btn.btn-sm.btn-rounded {
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px; }
  .btn.btn-lg {
    padding: 10px 16px;
    font-size: 18px; }
    .btn.btn-lg.btn-rounded {
      -moz-border-radius: 6px;
      -webkit-border-radius: 6px;
      border-radius: 6px; }
  .btn.btn-rounded {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; }
  .btn.btn-border {
    background: none; }
  .btn.btn-borderless {
    background: none;
    border: none; }

.btn-default, .btn-default:visited {
  background-color: #FFF;
  border-color: #e3e3e3;
  color: #b2b2b2; }
  .btn-default:hover, .btn-default:visited:hover {
    background-color: #f2f2f2;
    border-color: #BBB;
    color: #b2b2b2; }
  .btn-default:active, .btn-default:visited:active {
    background-color: #e6e6e6;
    border-color: #BBB;
    color: #b2b2b2; }
  .btn-default.btn-border, .btn-default:visited.btn-border {
    color: #797f98; }
    .btn-default.btn-border:active, .btn-default:visited.btn-border:active {
      color: #797f98; }

.btn-primary, .btn-primary:visited {
  background-color: #ff5e17;
  border-color: #ff5e17;
  color: #FFF; }
  .btn-primary:link, .btn-primary:visited:link {
    color: #FFF; }
  .btn-primary:visited, .btn-primary:visited:visited {
    color: #FFF; }
  .btn-primary:hover, .btn-primary:visited:hover {
    color: #FFF; }
  .btn-primary:active, .btn-primary:visited:active {
    color: #FFF; }
  .btn-primary:hover, .btn-primary:visited:hover {
    background-color: #fd4d00;
    border-color: #ed4900; }
  .btn-primary:active, .btn-primary:visited:active {
    background-color: #ed4900;
    border-color: #e34500; }
  .btn-primary.btn-border, .btn-primary:visited.btn-border {
    color: #ff5e17; }
    .btn-primary.btn-border:hover, .btn-primary:visited.btn-border:hover {
      color: #FFF; }

header {
  background: #404352;
  height: 41px;
  line-height: 41px;
  font-size: 20px;
  color: #fff; }
  header:before, header:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  header img {
    margin: 0 8px 0 10px;
    vertical-align: middle; }

/*# sourceMappingURL=style.css.map */
